<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>现金账号原型界面</title>
    <link type="text/css" rel="stylesheet" href="../lib/layui/css/layui.css"/>
    <script type="text/javascript" src="../lib/layui/layui.js"></script>
    <!--表格头文件-->
    <script type="text/html" id="userToolBar">
        <div style="float:right">
            <button class="layui-btn layui-btn-normal layui-bg-green  layui-btn-sm" lay-event="add"><i
                    class="layui-icon">&#xe654;</i>添加账户信息</button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                    class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
        <br/>
        <form class="layui-form layui-col-space5" >
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">账户名称</label>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="请输入账户名" name="selectAccountName" id="accountName">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">银行名称</label>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <select id="blankName">
                    <option value="">请选择</option>
                    <option value="中国银行">中国银行</option>
                    <option value="建设银行">建设银行</option>
                    <option value="工商银行">工商银行</option>
                    <option value="农业银行">农业银行</option>
                </select>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn"  lay-submit lay-event="search" lay-filter="search" id="searchId"><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
        </form>

    </script>

</head>
<body>

<table id="myTable" lay-filter="myTable"></table>
<!--表格里的编辑删除按钮-->
<div style="display: none;" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i
            class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon">&#xe640;</i>删除</a>
</div>
<!--添加现金账号div的内容-->
<div id="addContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="addform" lay-filter="addform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >银行卡号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="blankCardCode" lay-verify="required"
                               autocomplete="off" placeholder="请输入银行卡号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >银行名称</label>
                    <div class="layui-input-inline">
                        <select name="blankName">
                            <option value="">请选择</option>
                            <option value="中国银行" selected>中国银行</option>
                            <option value="建设银行">建设银行</option>
                            <option value="工商银行">工商银行</option>
                            <option value="农业银行">农业银行</option>
                        </select>
                        <!-- <input type="text" name="blankName" lay-verify="required"
                                autocomplete="off" placeholder="请输入账户名称" class="layui-input">-->
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >开户时间</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" id="addopen" name="openTime" lay-verify="required"
                               placeholder="请选择日期" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >卡号利率</label>
                    <div class="layui-input-inline">
                        <input type="text" name="cardRate" lay-verify="required"
                               autocomplete="off" placeholder="请输入利率%" class="layui-input">
                    </div>
                </div>
            </div>





            <div class="layui-col-xs6">

                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >账户名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="accountName" lay-verify="required"
                               autocomplete="off" placeholder="请输入账户名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >存款类型</label>
                    <div class="layui-input-inline">
                        <select name="deposit">
                            <option value="">请选择</option>
                            <option value="1">活期</option>
                            <option value="2">定期</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >结束时间</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" id="addend" name="endTime" lay-verify="required"
                               placeholder="请选择日期" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >计息期间</label>
                    <div class="layui-input-inline">
                        <select  name="procisionDays">
                            <option value="">请选择</option>
                            <option value="1">360天</option>
                            <option value="2">365天</option>
                            <option value="3">366天</option>
                        </select>
                    </div>
                </div>

            </div>



        </div>
        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-inline">
                <textarea name="accountDesc" style="width: 590px;height: 100px;padding: 10px;" rows="" cols="" placeholder="备注"></textarea>
            </div>
        </div>
        <div style="position: absolute; bottom: 15px; left: 39%;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>


<!--修改的div内容-->
<div id="editContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;" >
        <input type="hidden" name="accountId"/>
        <input type="hidden" name="fundId"/>
        <div>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >银行卡号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="blankCardCode" lay-verify="required"
                                   disabled="disabled"       autocomplete="off" placeholder="请输入银行卡号" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >银行名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="blankName" lay-verify="required"
                                   autocomplete="off" placeholder="请输入账户名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >开户时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="addopen2" name="openTime" lay-verify="required"
                                   placeholder="请选择日期" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >卡号利率</label>
                        <div class="layui-input-inline">
                            <input type="text" name="cardRate" lay-verify="required"
                                   autocomplete="off" placeholder="请输入利率%" class="layui-input">
                        </div>
                    </div>

                </div>
                <div class="layui-col-xs6">

                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >账户名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="accountName" lay-verify="required"
                                   autocomplete="off" placeholder="请输入账户名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >存款类型</label>
                        <div class="layui-input-inline">
                            <select name="deposit">
                                <option value="">请选择</option>
                                <option value="1">活期</option>
                                <option value="2">定期</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >结束时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="addend2" name="endTime" lay-verify="required"
                                   placeholder="请选择日期" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >计息期间</label>
                        <div class="layui-input-inline">
                            <select  name="procisionDays">
                                <option value="">请选择</option>
                                <option value="1">360天</option>
                                <option value="2">365天</option>
                                <option value="3">366天</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-form-item" style="text-align: center;">
                <div class="layui-input-inline">
                    <textarea name="accountDesc" style="width: 590px;height: 100px;padding: 10px;" rows="" cols="" placeholder="备注"></textarea>
                </div>
            </div>
        </div>
        <div style="position: absolute; bottom: 15px; left: 39%;">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>修改
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<script type="text/javascript" src="../js/account.js"></script>

</body>
</html>