<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可用现金头寸表</title>
    <link type="text/css" rel="stylesheet" href="../lib/layui/css/layui.css"/>
    <script type="text/javascript" src="../lib/layui/layui.js"></script>
    <!--表格头文件-->
    <script type="text/html" id="userToolBar">
        <form class="layui-form layui-col-space5" >
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 100px;text-align: center">成交日期</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input" autocomplete="off"  placeholder="请选择日期" name="start" id="start" >
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn"  lay-submit lay-event="search" lay-filter="search" id="searchId"><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
        </form>

    </script>

    <script type="text/javascript">
        layui.use(['table', 'form', 'layer','laydate'], function () {
            var table = layui.table;
            var form = layui.form;
            var layer = layui.layer;
            var laydate=layui.laydate;
            var $ = layui.$;
            laydate.render({
                elem:'#start'
            });


            table.render({
                elem: '#myTable' //实例化表格的ID名称
                , url: '../AvailableCashController'   //接收JSON数据的路径
                , toolbar: '#userToolBar' //开启头部工具栏，并为其绑定左侧模板
                , title: '用户数据表'//表格名称
                , cellMinWidth: 100
                , height:'full-30'
                , page: true
                , cols:[
                    [
                        ,{field : 'accountName', align: 'center', title : '科目名称', width:'50%'}
                        ,{field : 'cashBlance', title:'头寸金额',  align: 'center',width: '50%',


                        templet:function (data) {

                            if (data.cashBlance<0){
                               return "<span style='color:red;'>"+data.cashBlance+"</span>";
                            }else {
                                return "<span>"+data.cashBlance+"</span>";
                            }
                        }

                    },
                    ]
                ]

            });
            //刷新表格
            table.reload('myTable');

            //给工具条的按钮添加事件
            table.on('toolbar(myTable)', function (obj) {
                switch (obj.event) {
                    case "search":
                        var dateTime=$('#start').val();
                        table.reload('myTable', {
                            method: 'post',
                            page: {
                                curr: 1
                            },
                            where:{
                                'dateTime':dateTime
                            }
                        });
                        laydate.render({
                            elem:'#start'
                        });
                        document.getElementById("start").value=dateTime;
                        break;
                }
            })
        })

    </script>
</head>
<body>

<table id="myTable" lay-filter="myTable"></table>


</body>
</html>