<!DOCTYPE html>
<html>
<head>
    <title>资金调拨页面</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="../lib/layui/css/layui.css"/>
    <script type="text/javascript" src="../lib/layui/layui.js"></script>
    <!--下列表格要导入的文件-->
    <link rel="stylesheet" href="../lib/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../lib/layuimini/css/public.css" media="all">
    <script src="../lib/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="../lib/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <!--工具条-->
    <script type="text/html" id="userToolBar">
        <div style="float:right">
            <button class="layui-btn layui-btn-normal layui-bg-green layui-btn-sm" lay-event="add"><i
                    class="layui-icon">&#xe654;</i>添加资金调拨</button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                    class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
        <br/>
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 100px;text-align: center">调拨日期</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input" autocomplete="off"  placeholder="请选择日期" name="start" id="start" >
                </div>
            </div>

            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 100px;text-align: center">调拨类型</label>
                <div class="layui-inline layui-show-xs-block" style="text-align: center;width: 150px" >
                    <select name="allocatingType" id="allocatingType">
                        <option value="">请选择调拨类型</option>
                        <option value="1">存款利息</option>
                        <option value="2">申购赎回清算款</option>
                        <option value="3">买卖交易清算款</option>
                        <option value="4">债券利息</option>
                        <option value="5">存款业务</option>
                        <option value="6">两费</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 100px;text-align: center">调拨方向</label>
                <div class="layui-inline layui-show-xs-block"  style="text-align: center;width: 150px">
                    <select name="flag" id="flag">
                        <option value="">请选择调拨方向</option>
                        <option value="1">流入</option>
                        <option value="-1">流出</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn"  lay-submit="" lay-event="search" lay-filter="search"><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
        </form>
</script>


    <!--js-->
    <script type="text/javascript">

        layui.use(['element', 'form', 'table', 'layer', 'laydate','tableSelect'], function () {
            var layer = layui.layer;
            var $ = layui.$;
            var table = layui.table;
            var form = layui.form;
            var tableSelect = layui.tableSelect;
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem: '#start'//指定元素
            });
            //执行一个laydate实例
            laydate.render({
                elem: '#end'//指定元素
            });
            //执行一个laydate实例
            laydate.render({
                elem: '#up'//指定元素
            });
            //新增提交
            form.on('submit(addsubmit)', function(data){
                var formData=$('#addform').serialize();
                $.post("../bankTreasurer/insertBankTreasurer",formData,function(msg){
                    if(msg>0){
                        table.reload('userTable');
                        layer.closeAll();
                        layer.msg('添加成功',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }else{
                        layer.closeAll();
                        layer.msg('添加失败',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }
                });
                $("#addform")[0].reset();
                return false;
            });
            //修改提交
            form.on('submit(editsubmit)', function(data){
                var formData=$('#editform').serialize();
                $.post("../bankTreasurer/updateBankTreasurer",formData,function(msg){
                    if(msg>0){
                        table.reload('userTable');
                        layer.closeAll();
                        layer.msg('修改成功',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }else{
                        layer.closeAll();
                        layer.msg('修改失败',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }
                });
                return false;
            });
            table.render({
                elem: '#userTable',
                url: '../bankTreasurer/selectBankTreasurer',
                page: true,
                height:'full-30',
                toolbar: '#userToolBar',//显示在表头的工具条
                minLength:80,
                cellMinWidth:60,
                cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'bankTreasurerId', title: '资金调拨Id', width:150,align:'center',hide:true}
                        ,{field: 'fundId', title: '基金Id', width:150,align:'center',hide:true}
                        ,{field: 'accountId', title: '现金账户Id', width:120,align:'center',hide:true}
                        ,{field: 'accountName', title: '现金账户名称', width:200,align:'center'}
                        ,{field: 'allocatingType', title: '调拨类型', width:150,align:'center'
                        ,templet:function (item) {
                            if(item.allocatingType==1){
                                return '存款利息';
                            }
                            else if(item.allocatingType==2){
                                return  '申购赎回清算款';
                            }
                            else if(item.allocatingType==3){
                                return '买卖交易清算款';
                            }
                            else if(item.allocatingType==4){
                                return '债券利息';
                            }
                            else if(item.allocatingType==5){
                                return '存款业务';
                            }
                            else if(item.allocatingType==6){
                                return '两费';
                            }
                        }}
                        ,{field: 'flag', title: '调拨方向', width: 120,align:'center'
                        ,templet:function (item) {
                            if(item.flag==1){
                                return '流入';
                            }
                            else if(item.flag==-1){
                                return  '流出';
                            }

                        }}
                        ,{field: 'totalPrice', title: '调拨总数额', width: 150,align:'center'}
                        ,{field: 'dateTime', title: '业务日期', width:120,align:'center'}
                        ,{field: 'dbTime', title: '调拨日期', width:120,align:'center'}
                        ,{field: 'businessId', title: '业务标号', width:120,align:'center',hide:true}
                        ,{field: 'bankTreasurerDesc', title: '备注', width:120,align:'center',hide:true}
                        ,{field: 'right', title: '操作',width: 187, align:'center', toolbar: '#barDemo'}
                    ]
                ]
            });
            //给工具条的按钮添加事件
            table.on('toolbar(userTable)',function (obj) {
                //获取选中复选框的对象，
                var checkStatus=table.checkStatus(obj.config.id);//得到表格选中行的ID
                switch (obj.event) {
                    case 'add':
                        var index=layer.open({
                            type: 1,
                            title: '添加资金调拨',
                            closeBtn: 1,
                            move:false,
                            content:$("#addContent"),
                            area: ['893px', '550px'],
                            btn:[]
                        });
                        break;
                    case 'search':
                        var dbTime=$("#start").val();
                        var allocatingType= $("#allocatingType").val();
                        var flag=$("#flag").val();
                        //表格的重新加载事件
                        table.reload('userTable', {
                            method: 'post'
                            , where: {
                                'dbTime': dbTime,
                                'allocatingType': allocatingType,
                                'flag': flag
                            }
                            , page: {
                                curr: 1
                            }
                        });
                        //执行一个laydate实例
                        laydate.render({
                            elem: '#start'//指定元素
                        });
                        break;
                    case 'deleteAll':
                        var checkStatus = table.checkStatus("userTable"); //idTest 即为基础参数 id 对应的值
                        var data = checkStatus.data;
                        //    layer.alert(JSON.stringify(data));
                        if(data.length==0){
                            layer.msg("请至少选择一条数据",)
                        }else
                        {
                            var bankTreasurerIds=[];
                            for (var i = 0; i <data.length; i++) {
                                bankTreasurerIds.push(data[i].bankTreasurerId);
                            }
                            layer.confirm('真的删除行么',{icon: 2}, function(index){
                                layer.close(index);
                                $.post("../bankTreasurer/deleteBankTreasurer", {bankTreasurerIds:bankTreasurerIds.join(',')},function(msg){
                                    table.reload('userTable');
                                    layer.msg('删除'+checkStatus.data.length+'条记录', {
                                        title:'提示',
                                        area: ['200px', '140px'],
                                        time: 0,
                                        btn: ['知道了']
                                    });
                                });
                            });
                        }
                        break;
                }
            });
            //给表格编辑，删除按钮添加点击事件
            table.on('tool(userTable)', function(obj) {
                var data = obj.data;//得到删除行整行的数据
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么',{icon: 2}, function(index){
                        layer.close(index);
                        $.post("../bankTreasurer/deleteBankTreasurer", {"bankTreasurerIds":data.bankTreasurerId},function(msg){
                            if(msg>0){
                                table.reload('userTable');
                                layer.closeAll();
                                layer.msg('删除成功',{
                                    title : '提示',
                                    area : [ '200px',
                                        '140px' ],
                                    time : 0,
                                    btn : [ '知道了' ]
                                });
                            }else{
                                layer.closeAll();
                                layer.msg('删除失败',{
                                    title : '提示',
                                    area : [ '200px',
                                        '140px' ],
                                    time : 0,
                                    btn : [ '知道了' ]
                                });
                            }

                        });
                        return false;


                    });
                }
                else if (obj.event === 'edit') {
                    form.val("editform",data);//第二个参数可以是json字符串也可以是json对象
                    var index = layer.open({
                        type: 1,
                        title: '修改员工',
                        closeBtn: 1,
                        move:false,
                        area: ['893px', '550px'],
                        content:$('#editContent')
                    });

                };
            });
            //修改的下拉表格
            tableSelect.render({
                elem:'#updateAccountName',
                checkedKey:'accountName',
                table:{
                    url:'../account/selectAccount',
                    cellMinWidth: 60,
                    cols:[
                        [   {type:'radio'},
                            {field:'accountName',title:'账户名称',width:100},
                            {field: 'blankCardCode',title:'银行卡号',width: 100},
                            {field: 'blankName',title: '银行名称'},
                            {field: 'accountId',title: '账号Id',hidden:true}
                        ]
                    ]
                },
                done:function (elem,data) {
                    //elem:返回之前input对象；data:表格返回的选中的数据 []
                    var newJson=[];
                    //遍历选中的数据
                    $.each(data.data,function (index,item) {
                        newJson.push(item.accountName);
                        $("#updateAccountId").val(item.accountId);//给隐藏域中的val赋值
                    });
                    elem.val(newJson.join(","));//给输入框里显示的值赋值

                }
            })
            //新增的下拉表格
            tableSelect.render({
                elem:'#insertAccountName',
                checkedKey:'accountName',
                table:{
                    url:'../account/selectAccount',
                    cellMinWidth: 60,
                    cols:[
                        [   {type:'radio'},
                            {field:'accountName',title:'账户名称',width:100},
                            {field: 'blankCardCode',title:'银行卡号',width: 100},
                            {field: 'blankName',title: '银行名称'},
                            {field: 'accountId',title: '账号Id',hidden:true}
                        ]
                    ]
                },
                done:function (elem,data) {
                    //elem:返回之前input对象；data:表格返回的选中的数据 []
                    var newJson=[];
                    //遍历选中的数据
                    $.each(data.data,function (index,item) {
                        newJson.push(item.accountName);
                        $("#insertAccountId").val(item.accountId);//给隐藏域中的val赋值
                    });
                    elem.val(newJson.join(","));//给输入框里显示的值赋值

                }
            })





        });
        function myclose() {
            layer.closeAll();
        }

    </script>
</head>
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <!--表格-->
    <table id="userTable" lay-filter="userTable"></table>
    <!--工具条-->
    <div style="display: none;" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i
                class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                class="layui-icon">&#xe640;</i>删除</a>

    </div>
</div>

<!--增加的div内容-->
<div id="addContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="addform" lay-filter="addform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div>
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <div class="layui-form-item" style="text-align: center;">
                        <input type="hidden" name="accountId" id="insertAccountId"/>
                        <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">现金账户</label>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="请选择现金账户" name="accountName" id="insertAccountName">
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">调拨类型</label>
                        <div class="layui-inline layui-show-xs-block" style="width: 185px;text-align: center">
                            <select name="allocatingType">
                                <option value="">请选择调拨类型</option>
                                <option value="1">存款利息</option>
                                <option value="2">申购赎回清算款</option>
                                <option value="3">买卖交易清算款</option>
                                <option value="4">债券利息</option>
                                <option value="5">存款业务</option>
                                <option value="6">两费</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">调拨日期</label>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="请选择调拨日期" name="dbTime" id="end">
                        </div>
                    </div>
                </div>


                <div class="layui-col-xs6">
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">业务编号</label>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="请输入对应业务编号" name="businessId">
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">调拨金额</label>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="请输入调拨金额" name="totalPrice">
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">调拨方向</label>
                        <div class="layui-inline layui-show-xs-block" style="width: 185px;text-align: center">
                            <select name="flag">
                                <option value="">请选择调拨方向</option>
                                <option value="1">流入</option>
                                <option value="-1">流出</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="text-align: center;">

                <div class="layui-input-inline">
                    <textarea name="bankTreasurerDesc" style="width: 590px;height: 100px;padding: 10px;" rows="" cols="" placeholder="备注"></textarea>
                </div>
            </div>
        </div>


        <div style="position: absolute;  left: 39%;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--修改的div内容-->
<div id="editContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div>
            <input type="hidden" name="bankTreasurerId">
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <input type="hidden" name="accountId" id="updateAccountId">
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">现金账户</label>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="请选择现金账户" name="accountName" id="updateAccountName">
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">调拨类型</label>
                        <div class="layui-inline layui-show-xs-block" style="width: 185px;text-align: center">
                            <select name="allocatingType">
                                <option value="">请选择调拨类型</option>
                                <option value="1">存款利息</option>
                                <option value="2">申购赎回清算款</option>
                                <option value="3">买卖交易清算款</option>
                                <option value="4">债券利息</option>
                                <option value="5">存款业务</option>
                                <option value="6">两费</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">调拨日期</label>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="请选择调拨日期" name="dbTime" id="up">
                        </div>
                    </div>
                </div>


                <div class="layui-col-xs6">
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">调拨金额</label>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="请输入调拨金额" name="totalPrice">
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">调拨方向</label>
                        <div class="layui-inline layui-show-xs-block" style="width: 185px;text-align: center">
                            <select name="flag">
                                <option value="">请选择调拨方向</option>
                                <option value="1">流入</option>
                                <option value="-1">流出</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="text-align: center;">

                <div class="layui-input-inline">
                    <textarea name="bankTreasurerDesc" style="width: 590px;height: 100px;padding: 10px;" rows="" cols="" placeholder="备注"></textarea>
                </div>
            </div>
        </div>
        <div style="position: absolute; left: 39%;">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>修改
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>
</body>
</html>
