<!DOCTYPE html>
<html>
<head>
    <title>现金应收应付库存</title>
    <link type="text/css" rel="stylesheet" href="../lib/layui/css/layui.css"/>
    <link rel="stylesheet" href="../lib/layuimini/css/public.css" media="all">
    <script type="text/javascript" src="../lib/layui/layui.js"></script>
    <script src="../lib/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <!--<script src="../lib/layui/layui.js"></script>-->



    <!--工具条-->
    <script type="text/html" id="userToolBar">
        <div style="float:right">
            <input type="checkbox" lay-event="initialSigns" title="是否为期初数据" lay-filter="initialSigns">&nbsp&nbsp&nbsp&nbsp
            <button class="layui-btn layui-btn-normal layui-btn layui-btn-sm layui-bg-green" id="addbtn"><i
                    class="layui-icon" >&#xe654;</i>添加数据</button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                    class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
        <br/>
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">业务类型</label>
                <div class="layui-inline layui-show-xs-block">
                    <select name="businessType" id="businessType">
                        <option value="">请选择</option>
                        <option value="1">管理费</option>
                        <option value="2">托管费</option>
                        <option value="3">存款利息</option>
                        <option value="4">申购赎回费</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">业务日期</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入统计日期" name="businessDate" id="businessDate">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn" lay-event="search"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
        </form>
    </script>

</head>
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <!--表格-->
    <table id="userTable" lay-filter="userTable"></table>
    <!--工具条-->
    <div style="display: none;" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i
                class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                class="layui-icon">&#xe640;</i>删除</a>

    </div>
</div>


<!--增加的div内容-->
<div id="addContent" style="display: none; height: 100%; width:100%; text-align: center">
    <form id="addform" lay-filter="addform" class="layui-form layui-col-space5" style="margin: 50px auto; display: inline-block;">

        <div class="layui-inline layui-show-xs-block" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="text-align: center">期初状态</label>
            <div class="layui-inline layui-show-xs-block">
                <select name="initialSigns">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
        </div>

        <input name="accountId" type="hidden" id="accountId">
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">账户名称</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入账户名称" name="cashAccountName" id="cashAccountName">
            </div>
        </div>
        <br>
        <br>

        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">业务状态</label>
            <div class="layui-inline layui-show-xs-block">
                <select name="businessStatus">
                    <option value="1">流入</option>
                    <option value="-1">流出</option>
                </select>
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">业务日期</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入业务日期" name="businessDate" id="start2">
            </div>
        </div>
        <br>
        <br>

        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">业务类型</label>
            <div class="layui-inline layui-show-xs-block">
                <select name="businessType">
                    <option>请选择</option>
                    <option value="1">管理费</option>
                    <option value="2">托管费</option>
                    <option value="3">存款利息</option>
                    <option value="4">申购赎回费</option>
                </select>
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">总金额</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入总金额" name="totalMoney">
            </div>
        </div>
        <br>
        <br>

        <div class="layui-inline layui-show-xs-block" style="float: left">
            <label class="layui-form-label layui-bg-green" style="text-align: center; width: 130px; height: 81px; line-height: 81px">备注</label>
            <div class="layui-inline layui-show-xs-block">
                <textarea name="" required lay-verify="required" placeholder="请输入" class="layui-textarea" style="width: 464px"></textarea>
            </div>
        </div>

        <!--底部按钮-->
        <div style="position: absolute; bottom: 20px; margin-left: 200px">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--修改的div内容-->
<div id="editContent" style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform" class="layui-form layui-col-space5" style="margin: 50px auto; display: inline-block;">
        <div>
            <input type="hidden" name="cashClosedPayInventoryId">
            <input type="hidden" name="fundId">
        </div>
        <div class="layui-inline layui-show-xs-block" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="text-align: center">期初状态</label>
            <div class="layui-inline layui-show-xs-block">
                <select name="initialSigns">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
        </div>

        <input name="accountId" type="hidden" id="accountId2">
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">账户名称</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入账户名称" name="cashAccountName" id="cashAccountName2">
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">业务状态</label>
            <div class="layui-inline layui-show-xs-block">
                <select name="businessStatus">
                    <option value="1">流入</option>
                    <option value="-1">流出</option>
                </select>
            </div>
        </div>

        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">业务日期</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入业务日期" name="businessDate" id="start3">
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">业务类型</label>
            <div class="layui-inline layui-show-xs-block">
                <select name="businessType">
                    <option>请选择</option>
                    <option value="1">管理费</option>
                    <option value="2">托管费</option>
                    <option value="3">存款利息</option>
                    <option value="4">申购赎回费</option>
                </select>
            </div>
        </div>

        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">总金额</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入总金额" name="totalMoney">
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block" style="float: left">
            <label class="layui-form-label layui-bg-green" style="text-align: center; width: 130px; height: 81px; line-height: 81px">备注</label>
            <div class="layui-inline layui-show-xs-block">
                <textarea name="" required lay-verify="required" placeholder="请输入" class="layui-textarea" style="width: 464px"></textarea>
            </div>
        </div>


        <!--底部按钮-->
        <div style="position: absolute; bottom: 50px; margin-left: 200px">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>确认编辑
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<script src="../js/cashClosedPaylnventory.js"></script>
<script type="text/javascript">
    layui.use(['tableSelect'], function () {
        var tableSelect = layui.tableSelect;

        //新增账户名称下拉选择器
        tableSelect.render({
            elem: '#cashAccountName',
            checkedKey: 'accountId',
            table: {
                url: '../account/selectAccount',
                cols: [
                    [
                        {type: 'radio'},
                        {field: 'accountId', title: '账户编号', width:250},
                        {field: 'accountName', title: '账户名称', width:250}
                    ]
                ]
            },
            done: function (elem, data) {
                var NEWJSON=[]
                layui.each(data.data, function (index, item) {
                    NEWJSON.push(item.accountName)
                    console.log(item.accountId)
                    $("#accountId").val(item.accountId);
                })
                elem.val(NEWJSON.join(","))
            }
        })

        //修改账户名称下拉选择器
        tableSelect.render({
            elem: '#cashAccountName2',
            checkedKey: 'accountId',
            table: {
                url: '../account/selectAccount',
                cols: [
                    [
                        {type: 'radio'},
                        {field: 'accountId', title: '账户编号', width:250},
                        {field: 'accountName', title: '账户名称', width:250}
                    ]
                ]
            },
            done: function (elem, data) {
                var NEWJSON=[]
                layui.each(data.data, function (index, item) {
                    NEWJSON.push(item.accountName)
                    console.log(item.accountId)
                    $("#accountId2").val(item.accountId);
                })
                elem.val(NEWJSON.join(","))
            }
        })
    })
</script>


</body>
</html>
