<!DOCTYPE html>
<html lang="en">
<head>
    <title>权益数据设置</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../../css/theme9.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="../lib/layui/css/layui.css">


    <script src="../lib/layui/layui.js"></script>

    <script type="text/javascript">

        layui.use(['element', 'form', 'table', 'layer', 'laydate'], function () {
            var layer = layui.layer;
            var $ = layui.$;
            var table = layui.table;
            var form = layui.form;
            var formSelects = layui.formSelects;
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#equitiesExright' //指定元素
            });
            laydate.render({
                elem: '#equitiesExright2' //指定元素
            });

            //未结算表格
            table.render({
                elem: '#userTable',
                url: '../selectEquityDispose?disposeStatus=0',
                page: true,
                height:'full-50',
                cellMinWidth: 50,
                toolbar:'#userToolBar',
                cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'equityDataId',width:150, title: '权益编号', align:'center'}
                        ,{field: 'securitiesName',width:130, title: '证券名称', align:'center'}
                        ,{field: 'accountName',width:150, title: '账户名称', align:'center'}
                        ,{field: 'equitiesType',width:120, title: '权益类型', align:'center',
                        templet:function (item) {
                            if (item.equitiesType==1){
                                return '送股';
                            }else if (item.equitiesType==2){
                                return '分红';
                            }
                        }}
                        ,{field: 'equitiesExright',width:130, title: '除权日期', align:'center'}
                        ,{field: 'securitiesNum',width:120, title: '证券数量', align:'center'}
                        ,{field: 'proportion',width:130, title: '比例', align:'center'}
                        ,{field: 'settlementAmount',width:120, title: '结算金额', align:'center'}
                        ,{field: 'disposeStatus',width:135, title: '处理状态', align:'center',
                        templet:function (item) {
                            if (item.disposeStatus==0){
                                return '未处理';
                            }else if (item.disposeStatus==1){
                                return '已处理';
                            }
                        }
                    }
                    ]
                ]
            });

            //已结算表格
            table.render({
                elem: '#userTable2',
                url: '../selectEquityDispose?disposeStatus=1',
                page: true,
                height:'full-50',
                cellMinWidth: 50,
                toolbar:'#userToolBar2',
                cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'equityDataId',width:150, title: '权益编号', align:'center'}
                        ,{field: 'securitiesName',width:130, title: '证券名称', align:'center'}
                        ,{field: 'accountName',width:150, title: '账户名称', align:'center'}
                        ,{field: 'equitiesType',width:120, title: '权益类型', align:'center',
                        templet:function (item) {
                            if (item.equitiesType==1){
                                return '送股';
                            }else if (item.equitiesType==2){
                                return '分红';
                            }
                        }
                    }
                        ,{field: 'equitiesExright',width:130, title: '除权日期', align:'center'}
                        ,{field: 'securitiesNum',width:120, title: '证券数量', align:'center'}
                        ,{field: 'proportion',width:130, title: '比例', align:'center'}
                        ,{field: 'settlementAmount',width:120, title: '结算金额', align:'center'}
                        ,{field: 'disposeStatus',width:135, title: '处理状态', align:'center',
                        templet:function (item) {
                            if (item.disposeStatus==0){
                                return '未处理';
                            }else if (item.disposeStatus==1){
                                return '已处理';
                            }
                        }
                    }
                    ]
                ]
            });
            //给工具条的结算添加事件
            table.on('toolbar(userTable)', function (obj) {
                switch (obj.event) {
                    case "settlement":
                        //获得选中的对象
                        var checkStatus = table.checkStatus("userTable"); //idTest 即为基础参数 id 对应的值
                        // 其中 ID 为基础参数 id 对应的值（见：设定容器唯一ID）
                        var dataArr = checkStatus.data; //获取选中行的数据
                        var equityDisPose = JSON.stringify(dataArr);

                        if (dataArr.length == 0) {
                            layer.msg("请先选中数据");
                        } else {
                            layer.confirm('真的要处理嘛', function () {
                                layer.close();
                                //向服务端发送删除指令
                                $.post("../updateEquityDispose", "equityDisPose=" + equityDisPose, function (msg) {
                                    if (msg > 0) {
                                        table.reload('userTable');
                                        table.reload('userTable2');  /*渲染刷新*/
                                        layer.closeAll();
                                        layer.msg('处理成功', {
                                            title: '提示',
                                            area: ['200px',
                                                '140px'],
                                            btn: ['知道了']
                                        });
                                    } else {
                                        layer.closeAll();
                                        layer.msg('处理失败', {
                                            title: '提示',
                                            area: ['200px',
                                                '140px'],
                                            btn: ['知道了']
                                        });
                                    }
                                });
                                return false;
                            });
                        }
                        break;
                    //搜索按钮的条件查询
                    case 'search':
                        var equitiesExright = $("#equitiesExright").val();
                        var equitiesType = $("#equitiesType").val()
                        //表格的重新加载事件
                        table.reload('userTable', {
                            method: 'post'
                            , where: {
                                'equitiesExright': equitiesExright,
                                'equitiesType': equitiesType
                            }
                            , page: {
                                curr: 1
                            }
                        });
                        document.getElementById("equitiesExright").value=equitiesExright;
                        document.getElementById("equitiesType").value=equitiesType;
                        break;
                }

                        });



            //给工具条的反结算添加事件
            table.on('toolbar(userTable2)', function (obj) {
                switch (obj.event) {
                    case "settlement2":
                        //获得选中的对象
                        var checkStatus = table.checkStatus("userTable2"); //idTest 即为基础参数 id 对应的值
                        // 其中 ID 为基础参数 id 对应的值（见：设定容器唯一ID）
                        var dataArr = checkStatus.data; //获取选中行的数据
                        var equityDisPose = JSON.stringify(dataArr);

                        if (dataArr.length == 0) {
                            layer.msg("请先选中数据");
                        }
                        else {
                            layer.confirm('真的要反处理嘛', function () {
                                layer.close();
                                //向服务端发送删除指令
                                $.post("../updateEquityDisposeTow","equityDisPose="+equityDisPose,function(msg){
                                    if(msg>0){
                                        table.reload('userTable2');
                                        table.reload('userTable');  /*渲染刷新*/
                                        layer.closeAll();
                                        layer.msg('反处理成功',{
                                            title : '提示',
                                            area : [ '200px',
                                                '140px' ],
                                            time : 0,
                                            btn : [ '知道了' ]
                                        });
                                    }
                                    else{
                                        layer.closeAll();
                                        layer.msg('反处理失败',{
                                            title : '提示',
                                            area : [ '200px',
                                                '140px' ],
                                            time : 0,
                                            btn : [ '知道了' ]
                                        });
                                    }
                                });
                                return false;
                            });

                        }
                        break;
                    //搜索按钮的条件查询
                    case 'search':
                        var equitiesExright= $("#equitiesExright2").val();
                        var equitiesType= $("#equitiesType2").val()
                        //表格的重新加载事件
                        table.reload('userTable2', {
                            method: 'post'
                            , where: {
                                'equitiesExright': equitiesExright,
                                'equitiesType': equitiesType
                            }
                            , page: {
                                curr: 1
                            }
                        });
                        break;
                }

            });

        });
    </script>
</head>
<body>
<!--结算-->
<script type="text/html" id="userToolBar">
<div style="margin-top: 20px;margin-left: 10px">
    <form class="layui-form layui-col-space5">
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">除权日期</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="请输入统计日期" name="end" id="equitiesExright">
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">权益类型</label>

            <div class="layui-inline layui-show-xs-block">
                <select name="equitiesType" id="equitiesType">
                    <option value="">请选择</option>
                    <option value="2">分红</option>
                    <option value="1">送股</option>
                </select>
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <button class="layui-btn" lay-event="search" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <button class="layui-btn" type="button" onclick=" return false" lay-submit="settlement" lay-filter="settlement"  lay-event="settlement" name="settlement" id="settlement">处理</button>
        </div>
    </form>
    <ul class="layui-tab-title" style="border-bottom-color: #009688; color: #009688">
        <li  lay-id="1">未处理</li>
        <li class="layui-this" lay-id="2">已处理</li>
    </ul>
</div>
<!--<div class="layui-tab" lay-filter="test">
    <ul class="layui-tab-title" style="border-bottom-color: #009688">
        <li class="layui-this" lay-id="1">未结算</li>
        <li lay-id="2">已结算</li>
    </ul>
</div>-->
</script>
<!--反结算表头-->
<script type="text/html" id="userToolBar2">
    <div style="margin-top: 20px;margin-left: 10px">
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">除权日期</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入统计日期" name="end" id="equitiesExright2">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">权益类型</label>

                <div class="layui-inline layui-show-xs-block">
                    <select name="equitiesType" id="equitiesType2">
                        <option value="">请选择</option>
                        <option value="2">分红</option>
                        <option value="1">送股</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn" lay-event="search2"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn"  type="button" onclick="return false"  lay-submit="settlement" lay-filter="settlement2"  lay-event="settlement2" name="settlement" id="settlement2">反处理</button>
            </div>
        </form>
        <ul class="layui-tab-title " style="border-bottom-color: #009688; color: #009688">
            <li class="layui-this" lay-id="1">未处理</li>
            <li lay-id="2">已处理</li>
        </ul>
    </div>
<!--    <div class="layui-tab" lay-filter="test">
        <ul class="layui-tab-title" style="border-bottom-color: #009688">
            <li class="layui-this" lay-id="1">未结算</li>
            <li lay-id="2">已结算</li>
        </ul>
    </div>-->
</script>



<!--渲染表格层-->
<div class="layui-tab " lay-filter="test">
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <!--表格-->
            <table id="userTable" lay-filter="userTable"></table>
        </div>
        <div class="layui-tab-item">
            <table id="userTable2" lay-filter="userTable2"></table>
        </div>
    </div>
</div>
</body>
</html>