<!DOCTYPE html>
<html>
<head>
    <title>权益数据</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" /-->>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../css/theme9.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="../lib/layui/css/layui.css">


    <script src="../lib/layui/layui.js"></script>
    <!--工具条-->
    <script type="text/html" id="userToolBar">
        <div style="float:right">
            <button class="layui-btn layui-btn-normal layui-btn layui-btn-sm" lay-event="add"><i
                    class="layui-icon">&#xe654;</i>添加数据</button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                    class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
        <br/>
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">权益类型</label>

                <div class="layui-inline layui-show-xs-block">
                    <select name="cateid">
                        <option>请选择</option>
                        <option>分红</option>
                        <option>送股</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">权益除权日</label>

                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入统计日期" name="end" id="end">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
        </form>
    </script>



    <script type="text/javascript">

        layui.use(['element', 'form', 'table', 'layer', 'laydate'], function () {
            var layer = layui.layer;
            var $ = layui.$;
            var table = layui.table;
            var form = layui.form;
            var formSelects = layui.formSelects;
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });

            laydate.render({
                elem: '#start'
            })

            laydate.render({
                elem: '#equitiesRecord'
            })

            laydate.render({
                elem: '#equitiesExright'
            })

            laydate.render({
                elem: '#receivedDate'
            })
            laydate.render({
                elem: '#start2'
            })

            laydate.render({
                elem: '#equitiesRecord2'
            })

            laydate.render({
                elem: '#equitiesExright2'
            })

            laydate.render({
                elem: '#receivedDate2'
            })

            //新增提交
            form.on('submit(addsubmit)', function(data){
                var formData=$('#addform').serialize();
                $.post("../insertEquityData",formData,function(msg){
                    if(msg>0){
                        table.reload('userTable');
                        layer.closeAll();
                        layer.msg('添加成功',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }else{
                        layer.closeAll();
                        layer.msg('添加失败',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }
                });
                return false;
            });
            //修改提交
            form.on('submit(editsubmit)', function(data){
                var formData=$('#editform').serialize();
                $.post("../updateEquityData",formData,function(msg){
                    if(msg>0){
                        table.reload('userTable');
                        layer.closeAll();
                        layer.msg('修改成功',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }else{
                        layer.closeAll();
                        layer.msg('修改失败',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }
                });
                return false;
            });
            table.render({
                elem: '#userTable',
                url: '../selectEquityData',
                page: true,
                height: 500,
                toolbar: '#userToolBar',//显示在表头的工具条
                minLength:80,
                cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'equityDataId', title: '权益编号', width:166, align:'center'}
                        ,{field: 'dateTime', title: '业务日期', width: 166, align:'center'}
                        ,{field: 'securityId', title: '证券ID', width:166, align:'center'}
                        ,{field: 'securitiesName', title: '证券名称', width: 166, align:'center'}
                        ,{field: 'equitiesRecord', title: '权益登记日', width:166, align:'center'}
                        ,{field: 'equitiesExright', title: '权益除权日', width: 166, align:'center'}
                        ,{field: 'receivedDate', title: '到账日期', width: 166, align:'center'}
                        ,{field: 'equitiesType', title: '权益类型', width: 166, align: 'center',
                        templet:function (item) {
                            if (item.equitiesType==1){
                                return '送股';
                            }
                            return '分红';
                        }
                    }
                        ,{field: 'proportion', title: '比例', width: 166, align:'center'}
                        ,{field: 'disposeStatus', title: '处理状态', width: 166, align:'center',
                        templet:function (item) {
                            if (item.disposeStatus==0){
                                return '未处理';
                            }
                            return '已处理';
                        }
                    }
                        ,{title: 'operation', title: '操作' , toolbar:'#barDemo', width: 166, align:'center'}
                    ]
                ]
            });
            //给工具条的按钮添加事件
            table.on('toolbar(userTable)',function (obj) {
                //获取选中复选框的对象，
                var checkStatus=table.checkStatus(obj.config.id);//得到表格选中行的ID
                switch (obj.event) {
                    case 'add':
                        var index=layer.open({
                            type: 1,
                            title: '添加数据信息',
                            closeBtn: 1,
                            move:false,
                            content:$("#addContent"),
                            btn:[]
                        });
                        form.render();
                        //全屏
                        layer.full(index);
                        break;
                    case 'search':
                        alert("搜索");
                        var userName= $("#userName").val();
                        //表格的重新加载事件
                        table.reload('userTable', {
                            method: 'post'
                            , where: {
                                'userName': userName
                            }
                            , page: {
                                curr: 1
                            }
                        });

                        break;
                    case 'deleteAll':
                        var data = checkStatus.data;
                        //    layer.alert(JSON.stringify(data));
                        if(data.length==0){
                            layer.msg("请至少选择一条数据",)
                        }else
                        {
                            var ids=[];
                            for (var i = 0; i <data.length; i++) {
                                ids.push(data[i].equityId);
                            }
                            layer.confirm('真的删除行么',{icon: 2}, function(index){
                                layer.close(index);
                                $.post("../deleteEquityData", {equityId:ids.join(',')},function(msg){
                                    table.reload('userTable');
                                    layer.msg('删除'+checkStatus.data.length+'条记录', {
                                        title:'提示',
                                        area: ['200px', '140px'],
                                        time: 0,
                                        btn: ['知道了']
                                    });
                                });
                            });
                        }
                        break;
                }
            });
            //给表格编辑，删除按钮添加点击事件
            table.on('tool(userTable)', function(obj) {
                var data = obj.data;//得到删除行整行的数据
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么',{icon: 2}, function(index){

                        layer.close(index);
                        $.post("../deleteEquityData", {equityId:data.equityId+""},function(msg){
                            table.reload('userTable');
                        });

                    });
                } else if (obj.event === 'edit') {
                    form.val('editform',$.parseJSON(JSON.stringify(data)));
                    var index = layer.open({
                        type: 1,
                        title: '修改权益数据',
                        closeBtn: 1,
                        move:false,
                        area: ['500px', '400px'],
                        content:$('#editContent')
                    });
                    form.render();
                    layer.full(index);
                };
            })
        });
        function myclose() {
            parent.layer.closeAll();
        }
    </script>
</head>
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <!--表格-->
    <table id="userTable" lay-filter="userTable"></table>
    <!--工具条-->
    <div style="display: none;" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i
                class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                class="layui-icon">&#xe640;</i>删除</a>

    </div>
</div>


<!--增加的div内容-->
<div id="addContent" style="display: none; height: 100%; width:100%; text-align: center">
    <form id="addform" lay-filter="addform" class="layui-form layui-col-space5" style="margin: 50px auto; display: inline-block;">
        <div class="layui-inline layui-show-xs-block" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="text-align: center">权益ID</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="权益ID" name="equityId">
            </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">业务日期</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入业务日期" name="dateTime" id="start">
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">证券ID</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入证券ID" name="securityId">
            </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">证券名称</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入证券名称" name="securityName">
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">权益登记日</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入登记日" name="equitiesRecord" id="equitiesRecord">
            </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">权益除权日</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入除权日" name="equitiesExright" id="equitiesExright">
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">到账日</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入到账日" name="receivedDate" id="receivedDate">
            </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">权益类型</label>
            <div class="layui-inline layui-show-xs-block" style="width: 182px">
                <select name="equitiesType">
                    <option>请选择</option>
                    <option value="1">送股</option>
                    <option value="2">分红</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block" style="float: left">
            <label class="layui-form-label layui-bg-green" style="text-align: center">比例(%)</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入比例,单位为%" name="proportion">
            </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">处理状态</label>
            <div class="layui-inline layui-show-xs-block" style="width: 182px">
                <select name="disposeStatus">
                    <option>请选择</option>
                    <option value="0">未处理</option>
                    <option value="1">已处理</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block" style="float: left">
            <label class="layui-form-label layui-bg-green" style="text-align: center">账户名称</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入账户名称" name="accountName">
            </div>
        </div>


        <div style="position: absolute; bottom: 0px; left: 45%;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--修改的div内容-->
<div id="editContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div class="layui-inline layui-show-xs-block" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="text-align: center">权益ID</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="权益ID" name="equityId">
            </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">业务日期</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入业务日期" name="dateTime" id="start2">
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">证券ID</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入证券ID" name="securityId">
            </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">证券名称</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入证券名称" name="securityName">
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">权益登记日</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入登记日" name="equitiesRecord" id="equitiesRecord2">
            </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">权益除权日</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入除权日" name="equitiesExright" id="equitiesExright2">
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">到账日</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入到账日" name="receivedDate" id="receivedDate2">
            </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">权益类型</label>
            <div class="layui-inline layui-show-xs-block" style="width: 182px">
                <select name="equitiesType">
                    <option>请选择</option>
                    <option value="1">送股</option>
                    <option value="2">分红</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block" style="float: left">
            <label class="layui-form-label layui-bg-green" style="text-align: center">比例(%)</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入比例,单位为%" name="proportion">
            </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center">处理状态</label>
            <div class="layui-inline layui-show-xs-block" style="width: 182px">
                <select name="disposeStatus">
                    <option>请选择</option>
                    <option value="0">未处理</option>
                    <option value="1">已处理</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <div class="layui-inline layui-show-xs-block" style="float: left">
            <label class="layui-form-label layui-bg-green" style="text-align: center">账户名称</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" placeholder="请输入账户名称" name="accountName">
            </div>
        </div>


        <div style="position: absolute; bottom: 0px; left: 45%;">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>编辑
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>


</body>
</html>
