<!DOCTYPE html>
<html>
<head>
    <title>layUi入门</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="../lib/layui/css/layui.css">


    <script src="../lib/layui/layui.js"></script>
    <!--工具条-->
    <script type="text/html" id="userToolBar">
        <div style="float:right">
            <button class="layui-btn layui-btn-normal layui-bg-green layui-btn layui-btn-sm" lay-event="add"><i
                    class="layui-icon">&#xe654;</i>添加数据</button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                    class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
        <br/>
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">基金代码</label>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="请输入基金代码" name="" id="fundId">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">基金类型</label>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <select name="cateid" id="fundType">
                    <option placeholder="请输入"></option>
                    <option value="1">开放式</option>
                    <option value="2">封闭式</option>
                </select>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn" lay-event="search"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
        </form>
    </script>


    <script type="text/javascript">

        layui.use(['element', 'form', 'table', 'layer', 'laydate'], function () {
            var layer = layui.layer;
            var $ = layui.$;
            var table = layui.table;
            var form = layui.form;
            var laydate = layui.laydate;


            //执行一个laydate实例 日期
            laydate.render({
                elem: '#date' //指定元素
            });
            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            laydate.render({
                elem: '#start2'
            })

            laydate.render({
                elem: '#equitiesRecord'
            })

            laydate.render({
                elem: '#equitiesExright'
            })

            laydate.render({
                elem: '#receivedDate'
            })

            //新增提交
            form.on('submit(addsubmit)', function(data){
                var formData=$('#addform').serialize();
                $.post("../fund/insertFund",formData,function(msg){
                    if(msg>0){
                        table.reload('userTable');
                        layer.closeAll();
                        layer.msg('添加成功',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }else{
                        layer.closeAll();
                        layer.msg('添加失败',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }
                });
                return false;
            });
            //修改提交
            form.on('submit(editsubmit)', function(data){
                var formData=$('#editform').serialize();
                $.post("../fund/updateFund",formData,function(msg){
                    if(msg>0){
                        table.reload('userTable');
                        layer.closeAll();
                        layer.msg('修改成功',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }else{
                        layer.closeAll();
                        layer.msg('修改失败',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }
                });
                return false;
            });
            <!--join查询数据-->
            table.render({
                elem: '#userTable',
                url: '../fund/selectFund',
                page: true,
                height: 'full-70',
                toolbar: '#userToolBar',//显示在表头的工具条
                minLength:80,
                cols: [
                    [ //表头
                    {type: 'checkbox', field: 'left'}
                    ,{field: 'fundId', title: '基金代码', width:240, align:'center'}
                    ,{field: 'fundName', title: '基金名称', width: 240, align:'center'}
                    ,{field: 'managerId', title: '基金管理公司', width:240, align:'center'}
                    ,{field: 'trusteeBlank', title: '基金托管银行', width: 240, align:'center'}
                    ,{field: 'fundType', title: '基金类型', width:240, align:'center', templet: function(item){
                        if(item.fundType=='1') {
                            return '开放式';
                         } else if(item.fundType=='2'){
                            return '封闭式';
                        }
                     }
                    }
                    ,{field: 'right', title: '操作' , width: 240, align:'center',toolbar:'#barDemo'}
                ]
                ]
            });
            //给工具条的按钮添加事件
            table.on('toolbar(userTable)',function (obj) {
                //获取选中复选框的对象，
                var checkStatus=table.checkStatus(obj.config.id);//得到表格选中行的ID
                switch (obj.event) {
                    case 'add':
                        var index=layer.open({
                            type: 1,
                            title: '添加基金信息',
                            closeBtn: 1,
                            move:false,
                            content:$("#addContent"),
                            area: ['893px','600px'],
                            btn:[]
                        });

                        form.render();

                        //全屏layer.full(index);
                        break;
                    case 'search':
                        alert("搜索");
                        var fundId= $("#fundId").val();
                        var fundType= $("#fundType").val();
                        //表格的重新加载事件
                        table.reload('userTable', {
                            method: 'post'
                            , where: {
                                'fundId': fundId,
                                'fundType':fundType
                            }
                            , page: {
                                curr: 1
                            }
                        });

                        break;
                    case 'deleteAll':
                        var data = checkStatus.data;

                        if(data.length==0){
                            layer.msg("请至少选择一条数据",)
                        }else
                        {
                            var ids=[];
                            for (var i = 0; i <data.length; i++) {
                                ids.push(data[i].fundId);
                            }
                            layer.confirm('真的删除行么',{icon: 2}, function(index){
                                layer.close(index);
                                layer.alert(JSON.stringify(data));
                                $.post("../fund/deleteFund", {fundId:ids.join(',')},function(msg){
                                    table.reload('userTable');
                                    layer.msg('删除'+checkStatus.data.length+'条记录', {
                                        title:'提示',
                                        area: ['200px', '140px'],
                                        time: 0,
                                        btn: ['知道了']
                                    });
                                });
                            });
                        }
                        break;
                }
            });
            //给表格编辑，删除按钮添加点击事件
            table.on('tool(userTable)', function(obj) {
                var data = obj.data;//得到删除行整行的数据
                //alert(data.fundId);
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么',{icon: 2}, function(index){
                        layer.close(index);
                        $.post("../fund/deleteFund", {fundId:data.fundId+""},function(msg){
                            table.reload('userTable');
                        });

                    });
                } else if (obj.event === 'edit') {
                    //alert(JSON.stringify(data));
                    form.val('editform',$.parseJSON(JSON.stringify(data)));
                    var index = layer.open({
                        type: 1,
                        title: '修改基金参数',
                        closeBtn: 1,
                        move:false,
                        area: ['893px','600px'],
                        content:$('#editContent')
                    });

                    form.render();
                    //layer.full(index);全屏弹框
                };
            })
        });
        //取消事件
        function myclose() {
            layer.closeAll();
        }
    </script>
</head>
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <!--表格-->
    <table id="userTable" lay-filter="userTable"></table>
    <!--工具条-->
    <div style="display: none;" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i
                class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                class="layui-icon">&#xe640;</i>删除</a>

    </div>
</div>
<!--增加的div内容-->
<div id="addContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="addform" lay-filter="addform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;">基金代码</label>
            <div class="layui-input-inline">
                <input type="number"   lay-verify="required"
                       autocomplete="off" placeholder="基金代码" class="layui-input" name="fundId">
            </div>
            <label class="layui-form-label layui-bg-green" style=" width: 140px;margin-left: 50px;">基金名称</label>
            <div class="layui-input-inline">
                <input type="text"   lay-verify="required" name="fundName"
                       autocomplete="off" placeholder="基金名称" class="layui-input" onkeyup="value=value.replace(/[\d]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\d]/g,''))" >
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;">  成立日期</label>
            <div class="layui-input-inline" >
                <input type="text" placeholder="成立日期" name="setUpDate" id="date" style="width: 190px;"  lay-verify="date"  autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label layui-bg-green" style="width: 140px;margin-left: 50px;"> 基金类型 </label>
            <div class="layui-input-inline" >
                <select   xm-select-radio=""
                          xm-select-search="" lay-verify="required"
                          xm-select-direction="down" xm-select-search-type="dl" name="fundType"/>
                <option></option>
                <option value="1">开放式</option>
                <option value="2">封闭式</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;">  基金管理公司 </label>
            <div class="layui-input-inline">
                <input type="text" name="managerName" placeholder="基金管理公司" autocomplete="off" class="layui-input" id="fundcompany" >
                <input type="text" style="display: none;" name="managerId" placeholder="基金管理公司" autocomplete="off" class="layui-input"  id="fundcompany01">

            </div>
            <label class="layui-form-label layui-bg-green" style="width: 140px;margin-left: 50px;">基金托管银行</label>
            <div class="layui-input-inline">
                <input type="text" name="trusteeName" placeholder="基金托管银行" autocomplete="off" class="layui-input" id="fundbank">
                <input type="text"  style="display: none;" name="trusteeBlank" placeholder="基金托管银行" autocomplete="off" class="layui-input"  id="fundbank01" >

            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;">   初期净值 </label>
            <div class="layui-input-inline">
                <input type="text"   lay-verify="required" name="initNetWorth"
                       autocomplete="off" placeholder="初期净值 " class="layui-input" onkeyup = "if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"onafterpaste = "if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}">
            </div>
            <label class="layui-form-label layui-bg-green" style="width: 140px;margin-left: 50px;">基金规模</label>
            <div class="layui-input-inline">
                <input type="text" name="sizeOfThe"  lay-verify="numbers" autocomplete="off" placeholder="基金规模" class="layui-input" onkeyup = "if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"onafterpaste = "if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;"> 管理人费率  </label>
            <div class="layui-input-inline">
                <input type="number" oninput="if(value.length>4)value=value.slice(0,4)"  lay-verify="required" placeholder="管理人费率" name="managerRate"
                       autocomplete="off" class="layui-input" style="width: 140px;"/>
                <div style="margin-top: -27px;margin-left: 125px;"> <a style="font-size:18px;">%</a></div>
            </div>
            <label class="layui-form-label layui-bg-green" style="width: 140px;margin-left: 50px;">  托管人费率 </label>
            <div class="layui-input-inline">
                <input type="number"   lay-verify="required" oninput="if(value.length>4)value=value.slice(0,4)"
                       autocomplete="off" placeholder="  托管人费率" class="layui-input"  name="hostingRate" style="width: 140px;">
                <div style="margin-top: -27px;margin-left: 125px;"> <a style="font-size:18px;">%</a></div>

            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;"> 计提天数</label>
            <div class="layui-input-inline" >
                <select  name="provisionDays">
                    <option></option>
                    <option value="1">360</option>
                    <option value="2">365</option>
                    <option value="3">366</option>
                </select>
            </div>

        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;height: 100px;line-height: 100px;">备注</label>
            <div class="layui-input-inline">
					<textarea rows="" name="fundDesc"   placeholder="备注" cols=""
                              class="layui-textarea" style="width: 580px;"></textarea>
            </div>
        </div>
        <div style="position: absolute;left: 45%;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--修改的div内容-->
<div id="editContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div class="layui-form-item" style="text-align: center;" >
            <label class="layui-form-label layui-bg-green" style="width: 140px;">基金代码</label>
            <div class="layui-input-inline">
                <input type="number"   lay-verify="required"
                       autocomplete="off" placeholder="基金代码" class="layui-input" name="fundId">
            </div>
            <label class="layui-form-label layui-bg-green" style=" width: 140px;margin-left: 50px;">基金名称</label>
            <div class="layui-input-inline">
                <input type="text"   lay-verify="required" name="fundName"
                       autocomplete="off" placeholder="基金名称" class="layui-input" onkeyup="value=value.replace(/[\d]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\d]/g,''))" >
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;">  成立日期</label>
            <div class="layui-input-inline" >
                <input type="text" placeholder="成立日期" name="setUpDate" id="date" style="width: 190px;"  lay-verify="date"  autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label layui-bg-green" style="width: 140px;margin-left: 50px;"> 基金类型 </label>
            <div class="layui-input-inline" >
                <select   xm-select-radio=""
                          xm-select-search="" lay-verify="required"
                          xm-select-direction="down" xm-select-search-type="dl" name="fundType"/>
                <option></option>
                <option value="1">开放式</option>
                <option value="2">封闭式</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;">  基金管理公司 </label>
            <div class="layui-input-inline">
                <input type="text" name="managerName" placeholder="基金管理公司" autocomplete="off" class="layui-input" id="fundcompany" >
                <input type="text" style="display: none;" name="managerId" placeholder="基金管理公司" autocomplete="off" class="layui-input"  id="fundcompany01" value="110">

            </div>
            <label class="layui-form-label layui-bg-green" style="width: 140px;margin-left: 50px;">基金托管银行</label>
            <div class="layui-input-inline">
                <input type="text" name="trusteeName" placeholder="基金托管银行" autocomplete="off" class="layui-input" id="fundbank">
                <input type="text"  style="display: none;" name="trusteeBlank" placeholder="基金托管银行" autocomplete="off" class="layui-input"  id="fundbank01" value="110">

            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;">   初期净值 </label>
            <div class="layui-input-inline">
                <input type="text"   lay-verify="required" name="initNetWorth"
                       autocomplete="off" placeholder="初期净值 " class="layui-input" onkeyup = "if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"onafterpaste = "if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}">
            </div>
            <label class="layui-form-label layui-bg-green" style="width: 140px;margin-left: 50px;">基金规模</label>
            <div class="layui-input-inline">
                <input type="text" name="sizeOfThe"  lay-verify="numbers" autocomplete="off" placeholder="基金规模" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;"> 管理人费率  </label>
            <div class="layui-input-inline">
                <input type="number" oninput="if(value.length>4)value=value.slice(0,4)"  lay-verify="required" placeholder="管理人费率" name="managerRate"
                       autocomplete="off" class="layui-input" style="width: 140px;"/>
                <div style="margin-top: -27px;margin-left: 125px;"> <a style="font-size:18px;">%</a></div>
            </div>
            <label class="layui-form-label layui-bg-green" style="width: 140px;margin-left: 50px;">  托管人费率 </label>
            <div class="layui-input-inline">
                <input type="number"   lay-verify="required" oninput="if(value.length>4)value=value.slice(0,4)"
                       autocomplete="off" placeholder="  托管人费率" class="layui-input"  name="hostingRate" style="width: 140px;">
                <div style="margin-top: -27px;margin-left: 125px;"> <a style="font-size:18px;">%</a></div>


            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;"> 计提天数</label>
            <div class="layui-input-inline" >
                <select  name="provisionDays">
                    <option></option>
                    <option value="1">360</option>
                    <option value="2">365</option>
                    <option value="3">366</option>
                </select>
            </div>

        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="width: 140px;height: 100px;line-height: 100px;">备注</label>
            <div class="layui-input-inline">
					<textarea rows="" name="fundDesc"   placeholder="备注" cols=""
                              class="layui-textarea" style="width: 580px;"></textarea>
            </div>
        </div>
        <div style="position: absolute;left: 45%;">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>修改
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

</body>
</html>
