<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基金投资组合表</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script src="../lib/layuimini/lib/layui-v2.5.5/layui.js"></script>
    <script src="../lib/layuimini/js/lay-config.js"></script>
    <link rel="stylesheet" href="../lib/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../lib/layuimini/css/public.css" media="all">
    <link type="text/css" rel="stylesheet" href="../lib/layui/css/layui.css"/>
</head>
<body>

<table class="layui-hide" id="myToolBar" lay-filter="myToolBar"></table>

<script type="text/html" id="toolbarDemo">
    <form class="layui-form layui-col-space5">
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-gray" style="width: 110px;text-align: center">日期</label>
            <div class="layui-inline layui-show-xs-block" style="width: 195px">
                <input class="layui-input" placeholder="请选择日期" name="dateTime" id="start">
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
           <!-- <button class="layui-btn layui-btn-primary" lay-submit="" lay-event="search" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>-->
            <button class="layui-btn" lay-event="search"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>
    </form>
</script>

<script>
    layui.use(['element', 'form', 'table', 'layer', 'laydate'], function () {
        var layer = layui.layer;
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#start'
        });

        table.render({
            elem: '#myToolBar'
            , url: '../select/selectGuPiao'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print']
            ,height:'full-55'
            , minLength: 80
            , cellMinWidth: 60
            , cols:
                [
                    [
                        , {field: 'projectCode', title: '证券代码', align: 'center'}
                        , {field: 'projectName', title: '证券名称', align: 'center'}
                        , {field: 'quantityint', title: '库存数量', align: 'center'}
                        , {field: 'cost', title: '证券成本', align: 'center'}
                        , {field: 'peice',title: '行情价格',align: 'center'}
                        , {field: 'marketValue', title: '证券市值', align: 'center'}
                        , {field: 'chengBenBaiFenBi', title: '成本占净值%', align: 'center'}
                        , {field: 'shiZhiBaiFenBi', title: '市值占净值%', align: 'center'}
                    ]
                ]
            , page: true
        });
        //刷新表格
        table.reload('myToolBar');
        //给工具条的按钮添加事件
        table.on('toolbar(myToolBar)', function (obj) {
            switch (obj.event) {
                case "search":
                    var dateTimes=$('#start').val();

                    table.reload('myToolBar', {
                        method: 'post',
                        page: {
                            curr: 1
                        },
                        where:{
                            'dateTimes':dateTimes
                        }
                    });
                    laydate.render({
                        elem:'#start'
                    });
                    break;
            }
        })
    })

</script>


</body>
</html>