<!DOCTYPE html>
<html lang="en">
<head>
    <!--     收益支付 石良军-->
    <title>收益支付页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="../lib/layui/css/layui.css"/>
    <link rel="stylesheet" href="../lib/layuimini/css/public.css" media="all">
    <script type="text/javascript" src="../lib/layui/layui.js"></script>
    <script src="../lib/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]-->
    <!-- <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
     <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>-->


    <script type="text/javascript">
        var layid = 11;
        layui.use(['element', 'form', 'table', 'layer', 'laydate'], function () {

            var layer = layui.layer;
            var $ = layui.$;
            var table = layui.table;
            var form = layui.form;
            var formSelects = layui.formSelects;
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start'//指定元素
                , type: 'date'
                , isInitValue: true
                , format:'yyyy-MM-dd'
                , value: new Date()
            });
            table.render({
                elem: '#cashTable',
                url: '/selectCashClosedPays',
                page: true,
                height: 580,
                minLength: 80,
                cellMinWidth: 60,
                cols: [
                    [ //表头
                        {type: 'checkbox', field: 'cashClosedPayInventoryId', fixed: 'left'}
                        , {field: 'accountName', title: '账户名称', align: 'center'}
                        , {
                        field: 'deposit', title: '存款类型', align: 'center'
                        , templet: function (item) {
                            if (item.deposit == '1') {
                                return '活期';
                            } else if (item.deposit == '2') {
                                return '定期';
                            }
                        }
                    }
                        , {
                        field: 'businessType', title: '业务类型', align: 'center'
                        , templet: function (item) {
                            if (item.businessType == '3') {
                                return '存款利息';
                            }
                        }
                    }
                        , {field: 'totalMoney', title: '收支金额', align: 'center'}
                        , {
                        field: 'businessStatus', title: '流入流出', align: 'center'
                        , templet: function (item) {
                            if (item.businessStatus == '1') {
                                return '流入';
                            } else if (item.businessStatus == '-1') {
                                return '流出';
                            }
                        }
                    }
                        , {field: 'businessDate', title: '业务时间', align: 'center'}
                    ]
                ]
            });
            table.render({
                elem: '#bondTable',
                url: '/selectSecuritiesClosedPay',
                page: true,
                height: 580,
                minLength: 80,
                cellMinWidth: 60,
                cols: [
                    [ //表头
                        {type: 'checkbox', field: 'securitiesClosedPayInventoryId', fixed: 'left'}
                        , {field: 'securitiesName', title: '证券名称', align: 'center'}
                        , {
                        field: 'securitiesType', title: '业务类型', align: 'center'
                        , templet: function (item) {
                            if (item.securitiesType == '3') {
                                return '债券利息';
                            }
                        }
                    }
                        , {
                        field: 'businessStatus', title: '流入流出', align: 'center'
                        , templet: function (item) {
                            if (item.businessStatus == '1') {
                                return '流入';
                            } else if (item.businessStatus == '-1') {
                                return '流出';
                            }
                        }
                    }
                        , {field: 'businessDate', title: '业务时间', align: 'center'}
                        , {field: 'totalMoney', title: '总金额', align: 'center'}
                    ]
                ]
            });
            table.render({
                elem: '#costTable',
                url: '/selectTwoCost',
                page: true,
                height: 580,
                cellMinWidth: 60,
                minLength: 80,
                cols: [
                    [ //表头
                        {type: 'checkbox', field: 'cashClosedPayInventoryId', fixed: 'left'}
                        , {field: 'accountName', title: '账户名称', align: 'center'}
                        , {
                        field: 'businessType', title: '业务类型', align: 'center'
                        , templet: function (item) {
                            if (item.businessType == '1') {
                                return '管理费';
                            } else if (item.businessType == '2') {
                                return '托管费 ';
                            }
                        }
                    }
                        , {field: 'totalMoney', title: '收支金额', align: 'center'}
                        , {
                        field: 'businessStatus', title: '流入流出', align: 'center'
                        , templet: function (item) {
                            if (item.businessStatus == '1') {
                                return '流入';
                            } else if (item.businessStatus == '-1') {
                                return '流出';
                            }
                        }
                    }
                        , {field: 'businessDate', title: '业务时间', align: 'center'}
                    ]
                ]
            });

            // 渲染第一个表格
            form.on('submit(search)', function (data) {
                //console.log(data.field); //当前容器的全部表单字段，名值对形式：{name: value}
                //console.log(data.field.statDate);
                var nowDate=($("#start").val());
                // console.log($("#start").val());
                // alert("layid=" + layid);
                if (layid == 11) {
                    table.reload('cashTable', {
                            url: '/selectCashClosedPays',
                            where: {
                                businessDate: $("#start").val(),
                            }
                            , page: {
                                curr: 1
                            }
                        }
                    );
                } else if (layid == 22) {
                    table.reload('bondTable', {
                            url: '/selectSecuritiesClosedPay',
                            where: {
                                businessDate: $("#start").val(),
                            }
                            , page: {
                                curr: 1
                            }
                        }
                    );
                } else if (layid==33){
                    table.reload('costTable', {
                            url: '/selectTwoCost',
                            where: {
                                businessDate: $("#start").val(),
                            }
                            , page: {
                                curr: 1
                            }
                        }
                    );
                }
                // $("#start").val(nowDate);
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
            //统计
            table.on('checkbox(cashClosedPayInventoryId)', function (obj) {
                //     console.log("data-----"+JSON.stringify(table.cache));
                var data = obj.data;
                if(obj.event==='tongJi'){
                    layer.msg('开始统计');
                }
            });
            form.on('submit(statistics)', function (data) {
                //alert(data.field); 当前容器的全部表单字段，名值对形式：{name: value}Object object
               // alert("layid=" + layid);//直接进入点击
                if (layid == 11) {
                    var checkStatus = table.checkStatus('cashTable');//获得选中行所有数据
                    // 其中 ID 为基础参数 id 对应的值（见：设定容器唯一ID）
                    var cashs = [];  //创建所有数据对象容器
                    var dataArr = checkStatus.data;//获取选中行的数据
                    $.each(dataArr, function (i, n) {
                        cashs.push(n)
                    });

                    var cash = JSON.stringify(cashs);

                    $.post("/testCash", "cash="+cash, function (msg) {
                        if (msg > 0) {
                            table.reload('myTable');
                            layer.closeAll();
                            layer.msg('统计成功', {
                                title: '提示',
                                area: ['200px',
                                    '140px'],
                                time: 0,
                                btn: ['知道了']
                            });
                        }
                    });
                }else if (layid==22){
                    var checkStatus = table.checkStatus('bondTable');//得到表格中选中行的ID
                    var bonds = [];  //创建所有数据对象容器
                    var dataArr = checkStatus.data;
                    $.each(dataArr, function (i, n) {
                        bonds.push(n)
                    });

                    var bond = JSON.stringify(bonds);

                    $.post("/testBond", "bond="+bond, function (msg) {
                        if (msg > 0) {
                            table.reload('myTable');
                            layer.closeAll();
                            layer.msg('统计成功', {
                                title: '提示',
                                area: ['200px',
                                    '140px'],
                                time: 0,
                                btn: ['知道了']
                            });
                        }
                    });
                }else if (layid==33){
                    var checkStatus = table.checkStatus('costTable');//得到表格中选中行的ID
                    var cashs = [];  //创建所有数据对象容器
                    var dataArr = checkStatus.data;
                    $.each(dataArr, function (i, n) {
                        cashs.push(n)
                    });
                    var cash = JSON.stringify(cashs);

                    $.post("/testCash", "cash=" + cash, function (msg) {
                        if (msg > 0) {
                            table.reload('myTable');
                            layer.closeAll();
                            layer.msg('统计成功', {
                                title: '提示',
                                area: ['200px',
                                    '140px'],
                                time: 0,
                                btn: ['知道了']
                            });
                        }
                    });
                    form.render('checkbox');//刷新值
                }

              /*  if (datas.length === 0) {
                    layer.msg("请至少选择一条数据",)
                } else {
                    var ids = [];
                    for (var i = 0; i < data.length; i++) {
                        ids.push(data[i].cashClosedPayInventoryId);
                    }
                    layer.confirm('真的删除行么', {icon: 2}, function (index) {
                        layer.close(index);
                        $.post("/deleteCashClosedPay", {cashClosedPayId: ids.join(',')}, function (msg) {
                            table.reload('cashClosedPayTable');
                            layer.msg('统计' + checkStatus.data.length + '条记录', {
                                title: '提示',
                                area: ['200px', '140px'],
                                time: 0,
                                btn: ['知道了']
                            });
                        });
                    });
                }*/
            })
        });
    </script>
</head>
<body>

<div style="margin-top: 20px;margin-left: 10px">
    <form id="searchDate" class="layui-form layui-col-space5">
        <div class="layui-inline  layui-show-xs-block">
            <label class="layui-form-label layui-bg-green">业务日期</label>
            <div class="layui-input-inline">
                <input name="businessDate" id="start"
                       placeholder="请输入统计日期" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i>搜索
            </button>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <button class="layui-btn" type="button"  lay-submit="" lay-event="statistics" lay-filter="statistics"><i
                    class="layui-icon layui-icon-table"></i>统计
            </button>
        </div>
    </form>
</div>

<div class="layui-tab layui-tab-brief" lay-filter="test">
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="11">现金利息收入</li>
        <li lay-id="22">债券利息收入</li>
        <li lay-id="33">支付两费</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <!--表格-->
            <table id="cashTable" lay-filter="cashTable" class="layui-table"></table>
        </div>
        <div class="layui-tab-item">
            <table id="bondTable" lay-filter="bondTable" class="layui-table"></table>
        </div>
        <div class="layui-tab-item">
            <table id="costTable" lay-filter="costTable" ></table>
        </div>
    </div>
</div>


<script>/*这里是页面板块切换*/
/*layui.use('element', function () {
    var $ = layui.jquery
        , element = layui.element;
    //Hash地址的定位
    var layid = location.hash.replace(/^#test=/, '');
    element.tabChange('test', layid);

    element.on('tab(test)', function (elem) {
        location.hash = 'test=' + $(this).attr('lay-id');
    });

});*/

layui.use('element', function () {
    var element = layui.element;

    // // 获取hash来切换选项卡，假设当前地址的hash为lay-id对应的值
    // var layid = location.hash.replace(/^#test=/, '');
    // element.tabChange('test', layid); //假设当前地址为：http://a.com#test=222，那么选项卡会自动切换到“发送消息”这一项
    // alert(layid);
    //

    //监听Tab切换，以改变地址hash值
    element.on('tab(test)', function () {
        location.hash = 'test=' + this.getAttribute('lay-id');

    });
    element.on('tab(test)', function () {
        layid = this.getAttribute('lay-id');
        // alert(layid);
        //  alert("layid2=" + layid);
        /* if(layid===11){
             form.on('submit(searchSubmit)', function (data) {

                 //console.log(data.field); //当前容器的全部表单字段，名值对形式：{name: value}
                 //console.log(data.field.statDate);
                 // console.log($("#statDate").val());
                 alert($("#statDate").val());
                 table.reload('userTable', {
                         url:'/RevenueProvision/selectRevenueProvision',
                         where: {
                             statDate:$("#statDate").val(),
                         }
                         , page: {
                             curr: 1
                         }
                     }
                 );
                 return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。

             });
         }else if(layid===22){
             //渲染第二个表格
             form.on('submit(searchSubmit)', function (data) {

                 //console.log(data.field); //当前容器的全部表单字段，名值对形式：{name: value}
                 //console.log(data.field.statDate);
                 // console.log($("#statDate").val());
                 alert($("#statDate").val());
                 table.reload('userTable2', {
                         url:'/RevenueProvision/selectBondInterest',
                         where: {
                             statDate:$("#statDate").val(),
                         }
                         , page: {
                             curr: 1
                         }
                     }
                 );
                 return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。

             });
         }*/
        // location.href = "?state=" + id;
    });
});
</script>
</body>
</html>