<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NGU后台系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../css/theme3395.min.css">
<!--     <link rel="stylesheet" href="./css/theme4.css">-->
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script type="text/javascript" src="../js/systemMenu.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="index">NGU估值核算系统</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <!--<ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child">
                &lt;!&ndash; 二级菜单 &ndash;&gt;
                <dd>
                    <a onclick="xadmin.open('最大化','./userDemo','','',true)">
                        <i class="iconfont">&#xe6a2;</i>弹出最大化</a></dd>
                <dd>
                    <a onclick="xadmin.open('弹出自动宽高','http://www.baidu.com')">
                        <i class="iconfont">&#xe6a8;</i>弹出自动宽高</a></dd>
                <dd>
                    <a onclick="xadmin.open('弹出指定宽高','http://www.baidu.com',500,300)">
                        <i class="iconfont">&#xe6a8;</i>弹出指定宽高</a></dd>
                <dd>
                    <a onclick="xadmin.add_tab('在tab打开','member-list.html')">
                        <i class="iconfont">&#xe6b8;</i>在tab打开</a></dd>
                <dd>
                    <a onclick="xadmin.add_tab('在tab打开刷新','member-del.html',true)">
                        <i class="iconfont">&#xe6b8;</i>在tab打开刷新</a></dd>
            </dl>
        </li>
    </ul>-->
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;"><span th:text="${session.userName}"></span></a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <!--<dd>
                    <a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a></dd>-->
                <!--<dd>
                    <a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>-->
                <dd>
                    <a class="offLogin" href="login">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/static">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">

        <ul id="nav">

        </ul>
       <!-- <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="主页">&#xe6b8;</i>
                    <cite>主页</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('控制台','welcome1.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>控制台</cite></a>
                    </li>
                </ul>
            </li>

            &lt;!&ndash;加载菜单栏 动态加载&ndash;&gt;
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="业务参数">&#xe6a9;</i>
                    <cite>业务参数</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">


                    <li>
                        <a onclick="xadmin.add_tab('基金设置','/page/fund')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>基金设置</cite></a>
                    </li>


                    <li>
                        <a onclick="xadmin.add_tab('券商设置','/page/brokers')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>券商设置</cite></a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('交易席位','/page/seate')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>交易席位</cite></a>
                    </li>


                    <li>
                        <a onclick="xadmin.add_tab('交易所品种费率','/page/varietiesRate')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>交易所品种费率</cite></a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('证券信息设置','/page/securities')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>证券信息设置</cite></a>
                    </li>


                    <li>
                        <a onclick="xadmin.add_tab('债券信息设置','/page/Bond')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>债券信息设置</cite></a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('股票板块设置','order-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>股票板块设置</cite></a>
                    </li>


                    <li>
                        <a onclick="xadmin.add_tab('现金账户设置','/page/account')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>现金账户设置</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="业务数据">&#xe723;</i>
                    <cite>业务数据</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('交易数据','cate.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>交易数据</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('权益数据','/page/equityData')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权益数据</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('存款业务','cate.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>存款业务</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('行情数据','/page/marketData')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>行情数据</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('证券应收应付','cate.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>证券应收应付</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('现金应收应付','/page/cashClosedPay')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>现金应收应付</cite></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="现金管理">&#xe758;</i>
                    <cite>现金管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('资金调拨','city.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>资金调拨</cite></a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('划款指令','city.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>划款指令</cite></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="TA管理">&#xe74a;</i>
                    <cite>TA管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('TA交易数据','/page/TaTransaction')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>TA交易数据</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="业务处理">&#xe726;</i>
                    <cite>业务处理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('交易结算','login.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>交易结算</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('TA交易结算','/page/TaSettlement')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>TA交易结算</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('权益处理','admin-cate.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权益处理</cite></a>
                    </li>

                </ul>
            </li>


            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="日终处理">&#xe6ce;</i>
                    <cite>日终处理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('库存统计','echarts1.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>库存统计</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('收益计提','echarts2.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>收益计提</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('收益支付','page/incomePayment')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>收益支付</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('资产估值','echarts4.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>资产估值</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('净值统计','echarts5.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>净值统计</cite></a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="库存管理">&#xe6f6;</i>
                    <cite>库存管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('证券库存','unicode.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>证券库存</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('现金库存','unicode.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>现金库存</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('证券应收应付库存','unicode.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>证券应收应付库存</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('现金应收应付库存','cashClosedPaylnventory.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>现金应收应付库存</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('TA库存','page/taInventory')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>TA库存</cite></a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="报表管理">&#xe6bf;</i>
                    <cite>报表管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('成交清算日报表','error.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>成交清算日报表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('成交清算嘎嚓表','demo.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>成交清算嘎嚓表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('可用现金头寸表','log.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>可用现金头寸表</cite></a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('证券市场变动表','error.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>证券市场变动表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('股票价格波动表','demo.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>股票价格波动表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('股票权益信息表','log.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>股票权益信息表</cite></a>
                    </li>


                    <li>
                        <a onclick="xadmin.add_tab('席位交易量统计表','demo.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>席位交易量统计表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('席位成交量明细表','log.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>席位成交量明细表</cite></a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('基金投资组合表','error.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>基金投资组合表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('基金投资板块表','demo.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>基金投资板块表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('单位净值折线图','log.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>单位净值折线图</cite></a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="系统管理">&#xe6ae;</i>
                    <cite>系统管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('日志管理','https://fly.layui.com/extend/sliderVerify/')" target="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>日志管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('节假日管理','https://fly.layui.com/extend/layedit/')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>节假日管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('用户管理','/page/userInfo')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('角色管理','/page/selectRole')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色管理</cite></a>
                    </li>
                </ul>
            </li>
        </ul>-->
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd></dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='welcome1.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<script>
    //百度统计可去掉
    var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

 layui.use(['layer','jquery'],function () {
        var $ =layui.jquery,
            layer=layui.layer;
        $('.offLogin').on('click',function () {
            $.ajax({
                url:'../logout',
                type:'post',
                success:function (obj) {
                    if (obj.code===1){
                        layer.msg(obj.msg);
                        setTimeout("window.location='./'",3000)
                    }else {
                        layer.msg("退出异常！");
                    }
                }
            });
        });
 });
</script>

</body>

</html>