<!DOCTYPE html>
<html class="x-admin-sm">

    <!--
    title：库存统计
    name：邹稷
    date：2020/9/8
    date：2020/9/8
    -->
    <head>
        <meta charset="UTF-8">
        <title>库存统计</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />-->
        <link rel="stylesheet" href="../css/font.css">
        <link rel="stylesheet" href="../css/xadmin.css">
        <script src="../lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <script type="text/html" id="userToolBar">
            <div class="layui-card-body">
                <!--库存统计根据时间搜索的表单提交-->
                <form class="layui-form layui-col-space5" >
                    <div class="layui-inline layui-show-xs-block" id="barDemo">
                        <button class="layui-btn layui-btn-sm" lay-event="add" style="width: 100px;float: left;height: 30px">日期</button>
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <input class="layui-input"  autocomplete="off" placeholder="选择日期" name="start" id="dateTime3">
                    </div>

                    <div class="layui-inline layui-show-xs-block">
                        <button class="layui-btn"  lay-filter="searchSubmit" lay-event="search">
                            <i class="layui-icon">&#xe615;&nbsp;统计</i>
                        </button>

                    </div>

                </form>
            </div>
        </script>

        <script>
            layui.use(['element', 'form', 'table', 'layer', 'laydate'], function(){
                var layer = layui.layer;

                var $ = layui.$;
                var table = layui.table;
                var form = layui.form;
                var formSelects = layui.formSelects;
                var laydate = layui.laydate;



                //执行一个laydate实例
                laydate.render({
                    elem: '#dateTime3' //指定日期
                });


                //执行一个laydate实例
                laydate.render({
                    elem: '#end' //指定元素
                });


            //表头工具条和标题
            table.render({
                elem: '#userTable',
                url: '../selectInventory',
                page: true,
                count:0,
                toolbar: '#userToolBar',//显示在表头的工具条
                cellMinWidth: 80,
                height: "full-30",
                cols: [
                    [
                    {type:'checkbox'},
                    {
                        field: 'inventoryName',
                        align: 'center',
                        title: '库存名称',
                        width: 267
                    }, {
                        field: 'inventoryId',
                        title: '基金编号',
                        align: 'center',
                        width: 267

                    }, {
                        field: 'inventoryOperator',
                        title: '操作员',
                        align: 'center',
                        width: 267
                    },{
                        field : 'inventoryDate',
                        title : '统计日期',
                        align: 'center',
                        width: 267
                    },{
                        field: 'inventoryData',
                        title: '已统计数据',
                        align: 'center',
                        width: 267
                    },{
                        field: 'inventoryStatis',
                        title: '统计状态',
                        align: 'center',
                        width:267}
                    ]
                    ]
                    });


            //给工具条的按钮添加事件
            table.on('toolbar(userTable)',function (obj) {
                //获取选中复选框的对象，
                var checkStatus = table.checkStatus(obj.config.id);//得到表格选中行的ID
                switch (obj.event) {
                    case 'search':
                        //获得统计的库存id
                        var data = checkStatus.data;
                        //获得日期
                        var dateTime3 = $("#dateTime3").val();
                        // //    layer.alert(JSON.stringify(data));
                        if (data.length == 0) {
                            layer.msg("请至少选择一个库存进行统计",)
                        } else {
                            var ids = [];
                            for (var i = 0; i < data.length; i++) {
                                ids.push(data[i].invId);
                            }
                        }

                        table.reload('userTable', {
                            method: 'post'
                            , where: {
                                'dateTime3': dateTime3,
                                'invId': ids.join(','),
                            }
                            , page: {
                                curr: 1
                            }
                        }
                        );

                        break;
                        laydate.render({
                            elem: '#dateTime3',
                        });
                }


            });
            });

        </script>

    </head>
    <body style="overflow: auto; background-color: white;"
          class="layui-view-body layui-content">
            <!--表格-->
            <table id="userTable" lay-filter="userTable">


            </table>

    </body>

    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];

      })();</script>
</html>