<!DOCTYPE html>
<html lang="en">
<head>
    <!--康少波-->
    <meta charset="UTF-8">
    <title>menu</title>
    <script src="../lib/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="../lib/layuimini/js/lay-config.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../lib/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../lib/layuimini/css/public.css" media="all">
    <link type="text/css" rel="stylesheet" href="../lib/layui/css/layui.css"/>

    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<script type="text/html" id="userToolBar">
<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-btn layui-btn-sm" style="width: 110px;text-align: center">统计日期</label>
            </div>
            <div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
                <input type="text" style="height: 32px;" class="layui-input" id="test12" name = "datetime">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn layui-btn-sm" lay-submit="" lay-event="search" lay-filter="sreach">
                    <i class="layui-icon">&#xe615;</i>统计
                </button>
                <button type="button" lay-event="search1"
                        class="layui-btn layui-btn-sm" id="statisticsButton2">
                    <i class="layui-icon">&#xe615;</i>查询
                </button>
            </div>
        </div>
    </div>
</div>
</script>
<table id="myTable" class="layui-table" lay-filter="myTable"></table>
<!--    日期渲染-->
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#test1' //指定元素
        });
    });
</script>
<script>
    layui.use(['table', 'treetable','laydate'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;
        var laydate = layui.laydate;
        var dates = layui.laydate;
        dates.render({
            elem: '#test12',
            type: 'date' ,//默认，可不填
            value: new Date()//获取当前时间
        });
        // 渲染表格
        layer.load(2);
        treetable.render({
            toolbar: '#userToolBar',//开启头部工具栏，并为其绑定左侧模板
            treeColIndex: 1,
            treeSpid: 0,
            treeIdName: 'projectId',
            treePidName: 'projectFatherId',
            elem: '#myTable',
            url: '../lib/layuimini/api/my.json',
            page: false,
            cols: [
                [
                {type: 'numbers'},
                {field: 'projectName', minWidth: 270, title: '项目名称'},
                {field: 'projectCode',   minWidth: 180,title: '项目代码/账户号'},
                {field: 'cost',  align: 'center', title: '成本'},
                {field: 'peice', align: 'center', title: '行情'},
                {field: 'quantityint',  align: 'center', title: '股数'},
                {field: 'marketValue',  align: 'center', title: '市值'},
                {field: 'valuation',  align: 'center', title: '估值增值'}
            ]
            ],
            done: function () {
                layer.closeAll('loading');
            }
        });

        // 给按钮增加添加事件
        table.on('toolbar(myTable)', function (obj) {
            switch (obj.event) {
                case 'search':
                    alert("统计");
                    var test12= $("#test12").val();
                    alert(test12);
                    // 渲染表格
                    layer.load(2);
                    treetable.render({
                        toolbar: '#userToolBar',//开启头部工具栏，并为其绑定左侧模板
                        treeColIndex: 1,
                        treeSpid: 0,
                        treeIdName: 'projectId',
                        treePidName: 'projectFatherId',
                        elem: '#myTable',
                        url: '../netValueOfStatistical/selectNetValueOfStatisticalController?time='+$('#test12').val(),
                        page: false,
                        cols: [
                            [
                                {type: 'numbers'},
                                {field: 'projectName', minWidth: 270, title: '项目名称'},
                                {field: 'projectCode',  minWidth: 180,title: '项目代码/账户号'},
                                {field: 'cost',  align: 'center', title: '成本'},
                                {field: 'peice', align: 'center', title: '行情'},
                                {field: 'quantityint',  align: 'center', title: '股数'},
                                {field: 'marketValue',  align: 'center', title: '市值'},
                                {field: 'valuation',  align: 'center', title: '估值增值'}
                            ]
                        ],
                        done: function () {
                            layer.closeAll('loading');
                        }
                    });
                    //表格的重新加载事件
                    table.reload('myTable', {
                        method: 'post'
                        , where: {
                            'test12': test12
                        }
                        , page: {
                            curr: 1
                        }
                    });
                    break;
                case 'search1':
                    alert("搜索");
                    var test12= $("#test12").val();
                    alert(test12);
                    // 渲染表格
                    layer.load(2);
                    treetable.render({
                        toolbar: '#userToolBar',//开启头部工具栏，并为其绑定左侧模板
                        treeColIndex: 1,
                        treeSpid: 0,
                        treeIdName: 'projectId',
                        treePidName: 'projectFatherId',
                        elem: '#myTable',
                        url: '../selectTable/selectTableByTime?time='+$('#test12').val(),
                        page: false,
                        cols: [
                            [
                                {type: 'numbers'},
                                {field: 'projectName', minWidth: 270, title: '项目名称'},
                                {field: 'projectCode',   minWidth: 180, title: '项目代码/账户号'},
                                {field: 'cost',  align: 'center', title: '成本'},
                                {field: 'peice', align: 'center', title: '行情'},
                                {field: 'quantityint',  align: 'center', title: '股数'},
                                {field: 'marketValue',  align: 'center', title: '市值'},
                                {field: 'valuation',  align: 'center', title: '估值增值'}
                            ]
                        ],
                        done: function () {
                            layer.closeAll('loading');
                        }
                    });
                    //表格的重新加载事件
                    table.reload('myTable', {
                        method: 'post'
                        , where: {
                            'test12': test12
                        }
                        , page: {
                            curr: 1
                        }
                    });
                    break;
            }
        });

        $('#btn-expand').click(function () {
            treetable.expandAll('#munu-table');
        });

        $('#btn-fold').click(function () {
            treetable.foldAll('#munu-table');
        });

        //监听工具条
        table.on('tool(munu-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'del') {
                layer.msg('删除' + data.id);
            } else if (layEvent === 'edit') {
                layer.msg('修改' + data.id);
            }
        });
    });
</script>
</body>
</html>