<!DOCTYPE html>
<html>
<head>
    <!--hzh-->
    <title>证券应收应付库存</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="../lib/layui/css/layui.css"/>
    <script type="text/javascript" src="../lib/layui/layui.js"></script>
    <!--下列表格要导入的文件-->
    <link rel="stylesheet" href="../lib/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../lib/layuimini/css/public.css" media="all">
    <script src="../lib/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="../lib/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <!--工具条-->
    <script type="text/html" id="userToolBar">
        <div style="float:right">

            <button class="layui-btn layui-btn-normal layui-bg-green layui-btn-sm" lay-event="add"><i
                    class="layui-icon">&#xe654;</i>添加证券库存</button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                    class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
        <br/>
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 100px;text-align: center">业务类型</label>
                <div class="layui-inline layui-show-xs-block" style="text-align: center;width: 150px" >
                    <select name="securitiesType" id="securitiesType">
                        <option value="">请选择证券类型</option>
                        <option value="1">估值款</option>
                        <option value="2">证券清算款</option>
                        <option value="3">债券利息</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">业务日期</label>
            </div>
            <div class="layui-inline">
                <input  autocomplete="off" class="layui-input"  placeholder="请选择日期"  id="start">
            </div>


            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn" lay-submit="" lay-filter="search" lay-event="search"><i class="layui-icon">&#xe615;</i>搜索
                </button>
            </div>
        </form>
    </script>


</head>
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <!--表格-->
    <table id="userTable" lay-filter="userTable"></table>
    <!--工具条-->
    <div style="display: none;" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i
                class="layui-icon">&#xe642;</i>修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                class="layui-icon">&#xe640;</i>删除</a>

    </div>
</div>
<!--增加的div内容-->
<div id="addContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="addform" lay-filter="addform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div class="layui-row ">
            <div class="layui-col-xs6">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green">业务日期</label>
                        <div class="layui-input-inline">
                            <input type="text" id="addtime" name="dateTime"
                                   lay-verify="required" autocomplete="off" placeholder="日期"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label layui-bg-green">账户名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="accountName" id="addAccountName"
                                   placeholder="账户名称" autocomplete="off" class="layui-input">
                            <input type="hidden" name="accountId" id="addAccountId" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-bg-green">业务类型</label>
                        <div class="layui-input-inline">
                            <select style="height: 32px;" name="securitiesType">
                                <option value="1">估值增值</option>
                                <option value="2">证券清算款</option>
                                <option value="3">债券利息</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green">总金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="totalPrice" lay-verify="required"
                                   autocomplete="off" placeholder="总金额" class="layui-input" id="totalPrice">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green">证券名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="securitiesName" id="addSecuritiesName"
                                   lay-verify="required" placeholder="证券名称" class="layui-input">
                            <input type="hidden" name="securitiesId" id="addSecuritiesId" />
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green">期初状态</label>
                        <div class="layui-input-inline">
                            <select name="securityPeriodFlag" id="flag" required>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">业务状态</label>
                         <div class="layui-input-inline">
                             <select style="height: 32px;" name="flag">
                                 <option value="1">流入</option>
                                    <option value="-1">流出</option>
                                </select>
                            </div>
                    </div>

                </div>
            </div>

            <div class="layui-form-item"
                 style="text-align: center;">
                <label class="layui-form-label layui-bg-green" style="height:100px;line-height: 100px;">备注</label>
                <div class="layui-input-block">
						<textarea rows="" placeholder="备注" name="securitiesClosedPayDesc"
                                   cols="" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div style="position: absolute; bottom: 20px; left: 39%;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--修改的div内容-->
<div id="editContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;" >
        <div class="layui-row ">
            <div class="layui-col-xs6">
                <input type="hidden" name="securitiesClosedPayInventoryId"/>
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green">业务日期</label>
                        <div class="layui-input-inline">
                            <input type="text" id="updatetime" name="dateTime"
                                   lay-verify="required" autocomplete="off" placeholder="日期"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label layui-bg-green">账户名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="accountName" id="updateAccountName"
                                   placeholder="账户名称" autocomplete="off" class="layui-input">
                            <input type="hidden" name="accountId" id="updateAccountId" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label layui-bg-green">业务类型</label>
                        <div class="layui-input-inline">
                            <select style="height: 32px;" name="securitiesType">
                                <option value="1">估值增值</option>
                                <option value="2">证券清算款</option>
                                <option value="3">债券利息</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green">总金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="totalPrice" lay-verify="required"
                                   autocomplete="off" placeholder="总金额" class="layui-input" id="totalPrice2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="grid-demo">
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green">证券名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="securitiesName" id="updateSecuritiesName"
                                   lay-verify="required" placeholder="证券名称" class="layui-input">
                            <input type="hidden" name="securitiesId" id="updateSecuritiesId" />
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green">期初状态</label>
                        <div class="layui-input-inline">
                            <select name="securityPeriodFlag" id="securityPeriodFlag" required>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green">业务状态</label>
                        <div class="layui-input-inline">
                            <select style="height: 32px;" name="flag" id="flag2">
                                <option value="1">流入</option>
                                <option value="-1">流出</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-form-item"
                 style="text-align: center;">
                <label class="layui-form-label layui-bg-green" style="height:100px;line-height: 100px;">备注</label>
                <div class="layui-input-block">
						<textarea rows="" placeholder="备注" name="securitiesClosedPayDesc"
                                  cols="" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div style="position: absolute; bottom: 15px; left: 39%;">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>修改
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>


<script type="text/javascript">

    layui.use(['element', 'form', 'table', 'layer', 'laydate', 'tableSelect'], function () {
        var layer = layui.layer;
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var tableSelect = layui.tableSelect;
        var laydate = layui.laydate;


        laydate.render({
            elem: '#start'
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#addtime'//指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#updateTime'//指定元素

        });

        //新增提交
        form.on('submit(addsubmit)', function (data) {
            var formData = $('#addform').serialize();
            $.post("../insertSecuritiesClosedPayInventory", formData, function (msg) {
                if (msg > 0) {
                    table.reload('userTable');
                    layer.closeAll();
                    layer.msg('添加成功', {
                        title: '提示',
                        area: ['200px',
                            '140px'],
                        time: 0,
                        btn: ['知道了']
                    });
                } else {
                    layer.closeAll();
                    layer.msg('添加失败', {
                        title: '提示',
                        area: ['200px',
                            '140px'],
                        time: 0,
                        btn: ['知道了']
                    });
                }
            });
            $("#addform")[0].reset();
            return false;
        });

        //修改提交
        form.on('submit(editsubmit)',function () {
            var data = $('#editform').serialize();//获取表单区域所有值
            $.post("../updateSecuritiesClosedPayInventory",data,function(msg){
                if(msg>0){
                    table.reload('userTable');
                    layer.closeAll();
                    layer.msg('修改成功',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }else{
                    layer.closeAll();
                    layer.msg('修改失败',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }

            });
            return false;//解决弹出层闪退问题
        });

        table.render({
            elem: '#userTable',
            url: '../selectSecuritiesClosedPayInventory',
            page: true,
            height: 'full-30',
            toolbar: '#userToolBar',//显示在表头的工具条
            cellMinWidth: 60,
            minLength: 80,
            cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field : 'securitiesClosedPayInventoryId', align : 'center', width : 200, title : '证券存库Id', hide:true}
                    , {field : 'fundId', align : 'center', title : '基金代码', hide:true}
                    , {field : 'dateTime', align : 'center', title : '业务日期'}
                    , {field : 'securitiesId', title : '证券信息表ID ', align : 'center',hide:true}
                    , {field : 'securitiesName', title : '证券名称 ', align : 'center'}
                    , {field : 'securitiesType', title : '证券应收应付类型', align : 'center',
                        templet:function (item) {
                            if(item.securitiesType==1){
                                return '估值款'
                            }
                            else if(item.securitiesType==2){
                                return '证券清算款'
                            }
                            else if(item.securitiesType==3){
                                return '债券利息'
                            }
                        }}
                     , {field : 'flag', title : '业务状态 ', align : 'center',
                            templet : function(item) {
                                 if (item.flag == 1) {
                                     return '流入';
                                    }
                                     return '流出';
                                }
                            }
                    , {field : 'totalPrice', title : '总金额', align : 'center'}
                    , {field : 'securityPeriodFlag', title : '期初标志 ', align : 'center',
                            templet : function(item) {
                                if (item.securityPeriodFlag == 1) {
                                    return '是';
                                      }
                                else if(item.securityPeriodFlag == 0) {
                                    return '否'
                                }
                        }
                    }
                    , {fixed : 'right', title : '操作', align : 'center', toolbar : '#barDemo', width : 180}
                    ]
                ]
        });
        //给工具条的按钮添加事件
        table.on('toolbar(userTable)', function (obj) {
            //获取选中复选框的对象，
            var checkStatus = table.checkStatus(obj.config.id);//得到表格选中行的ID
            switch (obj.event) {
                case 'add':
                    layer.open({
                            type: 1,
                            title: '新增证券应收应付库存信息',
                            area: ['893px', '550px'],
                            content: $("#addContent")
                    });
                    form.render();
                    //全屏
                    /* layer.full(index);*/
                    break;
                case 'search':
                    var securitiesType = $("#securitiesType").val();
                    var dateTime = $("#start").val();
                    //表格的重新加载事件
                    table.reload('userTable', {
                        method: 'post'
                        , where: {
                            'dateTime': dateTime,
                            'securitiesType': securitiesType
                        }
                        , page: {
                            curr: 1
                        }
                    });
                    laydate.render({
                        elem: '#start'
                    });

                    break;
                case 'deleteAll':
                    var data = checkStatus.data;
                    //    layer.alert(JSON.stringify(data));
                    if (data.length == 0) {
                        layer.msg("请至少选择一条数据",)
                    } else {
                        var securitiesClosedPayInventoryIds = [];
                        for (var i = 0; i < data.length; i++) {
                            securitiesClosedPayInventoryIds.push(data[i].securitiesClosedPayInventoryId);
                        }
                        layer.confirm('真的删除行么', {icon: 2}, function (index) {
                            layer.close(index);
                            $.post("../deleteSecuritiesClosedPayInventory", {securitiesClosedPayInventoryIds: securitiesClosedPayInventoryIds.join(',')}, function (msg) {
                                table.reload('userTable');
                                layer.msg('删除' + checkStatus.data.length + '条记录', {
                                    title: '提示',
                                    area: ['200px', '140px'],
                                    time: 0,
                                    btn: ['知道了']
                                });
                            });
                        });
                    }
                    break;
            }
        });
        //给表格编辑，删除按钮添加点击事件
        table.on('tool(userTable)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    $.post("../deleteSecuritiesClosedPayInventory", "securitiesClosedPayInventoryIds="+data.securitiesClosedPayInventoryId,function(msg){
                        if(msg>0){
                            table.reload('userTable');
                            layer.closeAll();
                            layer.msg('删除成功',{
                                title : '提示',
                                area : [ '200px',
                                    '140px' ],
                                time : 0,
                                btn : [ '知道了' ]
                            });
                        }else{
                            layer.closeAll();
                            layer.msg('删除失败',{
                                title : '提示',
                                area : [ '200px',
                                    '140px' ],
                                time : 0,
                                btn : [ '知道了' ]
                            });
                        }

                    });
                    return false;
                });
            }
            else if(layEvent=="edit"){
                form.val("editform",data);//第二个参数可以是json字符串也可以是json对象
                layer.open({
                    type: 1,
                    title: '修改证券应收应付库存信息',
                    area: ['893px', '550px'],
                    content: $("#editContent")
                });

            }

        });
        //新增现金账号的下拉表格
        tableSelect.render({
            elem: '#addAccountName',
            checkedKey: 'accountId',
            table: {
                url: '../account/selectAccount',
                cellMinWidth: 60,
                cols: [
                    [{type: 'radio'},
                        {field: 'accountName', title: '账户名称', width: 200},
                        {field: 'blankCardCode', title: '银行卡号', width: 200},
                        {field: 'blankName', title: '银行名称'},
                        {field: 'accountId', title: '账号Id', hide: true}
                    ]
                ]
            },
            done: function (elem, data) {
                //elem:返回之前input对象；data:表格返回的选中的数据 []
                var newJson = [];
                //遍历选中的数据
                $.each(data.data, function (index, item) {
                    newJson.push(item.accountName);
                    $("#addAccountId").val(item.accountId);//给隐藏域中的val赋值
                });
                elem.val(newJson.join(","));//给输入框里显示的值赋值

            }
        })
        //新增证券编号的下拉表格
        tableSelect.render({
            elem: '#addSecuritiesName',
            checkedKey: 'securitiesId',
            table: {
                url: '../selectSecurities',
                cellMinWidth: 60,
                cols: [
                    [{type: 'radio'},
                        {field: 'securitiesId', title: '证券编号', width: 200},
                        {field: 'securitiesName', title: '证券名称', width: 200}
                    ]
                ]
            },
            done: function (elem, data) {
                //elem:返回之前input对象；data:表格返回的选中的数据 []
                var newJson = [];
                //遍历选中的数据
                $.each(data.data, function (index, item) {
                    newJson.push(item.securitiesName);
                    $("#addSecuritiesId").val(item.securitiesId);//给隐藏域中的val赋值
                });
                elem.val(newJson.join(","));//给输入框里显示的值赋值

            }
        })

        //修改现金账号的下拉表格
        tableSelect.render({
            elem: '#updateAccountName',
            checkedKey: 'accountId',
            table: {
                url: '../account/selectAccount',
                cellMinWidth: 60,
                cols: [
                    [{type: 'radio'},
                        {field: 'accountName', title: '账户名称', width: 200},
                        {field: 'blankCardCode', title: '银行卡号', width: 200},
                        {field: 'blankName', title: '银行名称'},
                        {field: 'accountId', title: '账号Id', hide: true}
                    ]
                ]
            },
            done: function (elem, data) {
                //elem:返回之前input对象；data:表格返回的选中的数据 []
                var newJson = [];
                //遍历选中的数据
                $.each(data.data, function (index, item) {
                    newJson.push(item.accountName);
                    $("#updateAccountId").val(item.accountId);//给隐藏域中的val赋值
                });
                elem.val(newJson.join(","));//给输入框里显示的值赋值

            }
        })
        //修改证券编号的下拉表格
        tableSelect.render({
            elem: '#updateSecuritiesName',
            checkedKey: 'securitiesId',
            table: {
                url: '../selectSecurities',
                cellMinWidth: 60,
                cols: [
                    [{type: 'radio'},
                        {field: 'securitiesId', title: '证券编号', width: 200},
                        {field: 'securitiesName', title: '证券名称', width: 200}
                    ]
                ]
            },
            done: function (elem, data) {
                //elem:返回之前input对象；data:表格返回的选中的数据 []
                var newJson = [];
                //遍历选中的数据
                $.each(data.data, function (index, item) {
                    newJson.push(item.securitiesName);
                    $("#updateSecuritiesId").val(item.securitiesId);//给隐藏域中的val赋值
                });
                elem.val(newJson.join(","));//给输入框里显示的值赋值

            }
        })

    });

    function myclose() {
        layer.closeAll();
    }

</script>
</body>
</html>