<!DOCTYPE html>
<!--戴言露-->
<html>
<head>
    <title>席位成交量明细表</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" /-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../css/theme9.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="../lib/layui/css/layui.css">


    <script src="../lib/layui/layui.js"></script>
    <!--工具条-->
    <script type="text/html" id="userToolBar">
        <br/>
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">划款日期</label>
                <div class="layui-inline layui-show-xs-block">
                    <input type="text" name="brokersName" id="brokersName" placeholder="请选择日期" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">席位</label>
                <div class="layui-inline layui-show-xs-block">
                    <input type="text" name="brokersName" id="brokersName1" placeholder="请选择席位" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn" lay-event="search" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
        </form>
    </script>



    <script type="text/javascript">

        layui.use(['element', 'form', 'table', 'layer', 'laydate'], function () {
            var layer = layui.layer;
            var $ = layui.$;
            var table = layui.table;
            var form = layui.form;
            var formSelects = layui.formSelects;
            var laydate = layui.laydate;

            table.render({
                elem: '#userTable',
                url: '../brokersSelect',
                page: true,
                height: 500,
                toolbar: '#userToolBar',//显示在表头的工具条
                minLength:80,
                cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'brokersId', title: '证券代码',  align:'center'}
                        ,{field: 'brokersName', title: '基金名称',  align:'center'}
                        ,{field: 'brokersInstructions', title: '数量',  align:'center'}
                        ,{field: 'brokersDesc', title: '佣金费',  align:'center'}
                        ,{title: 'operation', title: '过户费' , toolbar:'#barDemo', align:'center'}
                        ,{field: 'brokersId', title: '经手费',  align:'center'}
                        ,{field: 'brokersInstructions', title: '征管费',  align:'center'}
                        ,{field: 'brokersName', title: '印花税',  align:'center'}
                        ,{field: 'brokersDesc', title: '交易金额',  align:'center'}
                        ,{title: 'operation', title: '实付金额' , toolbar:'#barDemo', align:'center'}
                    ]
                ]
            });
            //给工具条的按钮添加事件
            table.on('toolbar(userTable)',function (obj) {
                //获取选中复选框的对象，
                var checkStatus=table.checkStatus(obj.config.id);//得到表格选中行的ID
                switch (obj.event) {
                    case 'search':
                        // alert("搜索");
                        var brokersName= $("#brokersName").val();
                        // alert(brokersName);
                        //表格的重新加载事件
                        table.reload('userTable', {
                            method: 'post'
                            , where: {
                                'brokersName': brokersName
                            }
                            , page: {
                                curr: 1
                            }
                        });
                }
            });
        });
    </script>
</head>
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <!--表格-->
    <table id="userTable" lay-filter="userTable"></table>
    <!--工具条-->
</div>
</body>
</html>
