


<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<script type="text/html" id="userToolBar">

    <div style="float:right">
        <button class="layui-btn layui-btn layui-btn layui-btn-sm" lay-event="add"><i
                class="layui-icon">&#xe654;</i>添加证券信息</button>
        <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                class="layui-icon">&#xe640;</i>批量删除</button>
    </div>

    <form class="layui-form layui-col-space5" id="toolbarFrom">
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">证券ID</label>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <input class="layui-input"  autocomplete="off" placeholder="请输入证券ID" name="selectsecuritiesId" id="securitiesId">
        </div>

        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">证券名称</label>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <input class="layui-input"  autocomplete="off" placeholder="请输入证券名称" name="selectsecuritieName" id="securitieName">
        </div>
        <div class="layui-inline layui-show-xs-block">
            <button class="layui-btn"  lay-submit="" data-type="reload" lay-filter="search" id="searchId"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>
    </form>

</script>
<table id="test" lay-filter="test"></table>


<script src="/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['table', 'form', 'layer','laydate'], function() {
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laydate=layui.laydate;
        var $ = layui.$;
        laydate.render({
            elem:'#addopen'
        });
        laydate.render({
            elem:'#addend'
        });
        laydate.render({
            elem:'#addopen2'
        });
        laydate.render({
            elem:'#addend2'
        });

        //第一个实例
        //查询
        table.render({
            elem: '#test'
            , height: 512
            , toolbar: '#userToolBar'
            , url: '../selectSecurities' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'securitiesId', title: '证券ID', width: 110, sort: true}
                    , {field: 'securitiesName', title: '证券名称', width: 110}
                    , {field: 'securitiesType', title: '证券类型', width: 110, sort: true}
                    , {field: 'issueDate', title: '发行日期', width: 110}
                    , {field: 'delayDate', title: '延迟日期', width: 177}
                    , {field: 'stockId', title: '模块ID', width: 110, sort: true}
                    , {field: 'exchange', title: '交易所', width: 110, sort: true}
                    , {field: 'securitiesDesc', title: '备注', width: 110}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 170}
                ]
            ]
        });


        //给工具条的按钮添加事件
        table.on('toolbar(test)', function (obj) {
            var userName = $("#userName").val();
            switch (obj.event) {
                case "search":
                    var blankName=$('#blankName').val();
                    var accountName=$('#accountName').val();
                    alert(blankName,accountName);
                    table.reload('test', {
                        method: 'post',
                        page: {
                            curr: 1
                        },
                        where:{
                            'blankName':blankName,
                            'accountName':accountName
                        }
                    });
                    break;

                case "add":
                    layer.open({
                        type: 1,
                        title: '新增证券信息',
                        area: ['693px', '550px'],
                        content: $("#addContent")
                    });
                    break;
                //删除多行
                case "deleteAll":
                    //获得选中的对象
                    var checkStatus = table.checkStatus("test"); //idTest 即为基础参数 id 对应的值
                    // 其中 ID 为基础参数 id 对应的值（见：设定容器唯一ID）
                    var securitiesIds = [];
                    var dataArr = checkStatus.data; //获取选中行的数据
                    $.each(dataArr, function (i, n) {
                        securitiesIds.push(n.securitiesId);
                    });
                    if (dataArr.length == 0) {
                        layer.msg("请先选中数据");
                    }
                    else {
                        layer.confirm('真的删除行么', function () {
                            layer.close();
                            //向服务端发送删除指令
                            $.post("../deleteSecurities", "securitiesId="+securitiesIds,function(msg){
                                if(msg>0){
                                    table.reload('test');
                                    layer.closeAll();
                                    layer.msg('删除成功',{
                                        title : '提示',
                                        area : [ '200px',
                                            '140px' ],
                                        time : 0,
                                        btn : [ '知道了' ]
                                    });
                                }
                                else{
                                    layer.closeAll();
                                    layer.msg('删除失败',{
                                        title : '提示',
                                        area : [ '200px',
                                            '140px' ],
                                        time : 0,
                                        btn : [ '知道了' ]
                                    });
                                }
                            });
                            return false;
                        });
                    }
                    break;
            }
        });

        //删除
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    $.post("../deleteSecurities", "securitiesId=" + data.securitiesId, function (msg) {
                        if (msg > 0) {
                            table.reload('test');
                            layer.closeAll();
                            layer.msg('删除成功', {
                                title: '提示',
                                area: ['200px',
                                    '140px'],
                                time: 0,
                                btn: ['知道了']
                            });
                        } else {
                            layer.closeAll();
                            layer.msg('删除失败', {
                                title: '提示',
                                area: ['200px',
                                    '140px'],
                                time: 0,
                                btn: ['知道了']
                            });
                        }
                    });
                    return false;
                });
            }

            //修改
            else if(layEvent=="edit"){
                form.val("editform",$.parseJSON(JSON.stringify(data)));//第二个参数可以是json字符串也可以是json对象

                layer.open({
                    type: 1,
                    title: '修改证券信息',
                    area: ['693px', '550px'],
                    content: $("#editContent")
                });
            }
        });


        //新增提交
        form.on('submit(addsubmit)', function(data){
            var accounts=$('#addform').serialize();
            $.post("../insertSecurities",accounts,function(msg){
                if(msg>0){
                    table.reload('test');
                    layer.closeAll();
                    layer.msg('添加成功',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }else{
                    layer.closeAll();
                    layer.msg('添加失败',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }
            });
            return false;
        });


        //修改提交
        form.on('submit(editsubmit)',function () {
            var data = $('#editform').serialize();//获取表单区域所有值
            $.post("../updateSecurities",data,function(msg){
                if(msg>0){
                    table.reload('test');
                    layer.closeAll();
                    layer.msg('修改成功',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }else{
                    layer.closeAll();
                    layer.msg('修改失败',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }
            });
            return false;//解决弹出层闪退问题
        });
    })
    function myclose() {
        layer.closeAll();
    }
</script>
</div>
</div>
</div>
</div>

<div style="display: none;" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i
            class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon">&#xe640;</i>删除</a>

</div>

<!--修改的div内容-->
<div id="editContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;" >


        <div>
            <div class="layui-row">
                <div class="layui-col-xs6">

                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >证券ID</label>
                        <div class="layui-input-inline">
                            <input type="text" name="securitiesId" lay-verify="required"
                                   autocomplete="off" placeholder="请输入证券ID" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >证券名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="securitiesName" lay-verify="required"
                                   autocomplete="off" placeholder="请输入证券名称" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >证券类型</label>
                        <div class="layui-input-inline">
                            <select  name="securitiesType">
                                <option value="">请选择</option>
                                <option value="1">债券</option>
                                <option value="2">股票</option>

                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >发行时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="addopen" name="issueDate" lay-verify="required"
                                   placeholder="请选择日期" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs6">
                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >延迟时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="addend" name="delayDate" lay-verify="required"
                                   placeholder="请选择日期" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >板块ID</label>
                        <div class="layui-input-inline">
                            <select  name="stockId">
                                <option value="">请选择</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>



                    <div class="layui-form-item" style="text-align: center;">
                        <label class="layui-form-label layui-bg-green" >交易所</label>
                        <div class="layui-input-inline">
                            <select  name="exchange">
                                <option value="">请选择</option>
                                <option value="1">上交所</option>
                                <option value="2">深交所</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="text-align: center;">
                <div class="layui-input-inline">
                    <textarea name="securitiesDesc" style="width: 590px;height: 100px;padding: 10px;" rows="" cols="" placeholder="备注"></textarea>
                </div>
            </div>
        </div>
        <div style="position: absolute; bottom: 50px; left: 40%;">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>修改
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>


<!--添加div的内容-->
<div id="addContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="addform" lay-filter="addform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >证券ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="securitiesId" lay-verify="required"
                               autocomplete="off" placeholder="请输入证券ID" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >证券名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="securitiesName" lay-verify="required"
                               autocomplete="off" placeholder="请输入证券名称" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >证券类型</label>
                    <div class="layui-input-inline">
                        <select  name="securitiesType">
                            <option value="">请选择</option>
                            <option value="1">债券</option>
                            <option value="2">股票</option>

                        </select>
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >发行时间</label>
                    <div class="layui-input-inline">
                        <input type="text" id="addopen2" name="issueDate" lay-verify="required"
                               placeholder="请选择日期" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs6">

                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >延迟时间</label>
                    <div class="layui-input-inline">
                        <input type="text" id="addend2" name="delayDate" lay-verify="required"
                               placeholder="请选择日期" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >板块ID</label>
                    <div class="layui-input-inline">
                        <select  name="stockId">
                            <option value="">请选择</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green" >交易所</label>
                    <div class="layui-input-inline">
                        <select  name="exchange">
                            <option value="">请选择</option>
                            <option value="1">上交所</option>
                            <option value="2">深交所</option>

                        </select>
                    </div>
                </div>

            </div>
            <div class="layui-form-item" style="text-align: center;">
                <div class="layui-input-inline">
                    <textarea name="securitiesDesc" style="width: 590px;height: 100px;padding: 10px;" rows="" cols="" placeholder="备注"></textarea>
                </div>
            </div>
            <div style="position: absolute; bottom: 15px; left: 40%;">
                <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                    <i class="layui-icon">&#x1005;</i>添加
                </button>
                <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                    <i class="layui-icon">&#x1006;</i>取消
                </button>
            </div>
        </div>
    </form>
</div>

</body>
</html>