<!DOCTYPE html>
<html>
<head>
    <!--dyl-->
    <title>证券应收应付</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="../lib/layui/css/layui.css"/>
    <script type="text/javascript" src="../lib/layui/layui.js"></script>
    <!--下列表格要导入的文件-->
    <link rel="stylesheet" href="../lib/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../lib/layuimini/css/public.css" media="all">
    <script src="../lib/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="../lib/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <!--工具条-->
    <script type="text/html" id="userToolBar">
        <div style="float:right">
            <button class="layui-btn layui-btn-normal layui-bg-green layui-btn-sm" lay-event="add"><i
                    class="layui-icon">&#xe654;</i>添加证券应收应付</button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                    class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
        <br/>
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">日期</label>
                <div class="layui-inline">
                    <input   class="layui-input" autocomplete="off" placeholder="请选择日期"  id="start">
                </div>
            </div>

            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">业务类型</label>
                <div class="layui-inline">
                    <select name="serviceType" id="serviceType">
                        <option value="">请选择</option>
                        <option value="1">清算款</option>
                        <option value="2">估值增值</option>
                        <option value="3">债券利息</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn" lay-submit="" lay-filter="search" lay-event="search"><i class="layui-icon">&#xe615;</i>搜索
                </button>
            </div>
        </form>
    </script>


</head>
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <!--表格-->
    <table id="userTable" lay-filter="userTable"></table>
    <!--工具条-->
    <div style="display: none;" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i
                class="layui-icon">&#xe642;</i>修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                class="layui-icon">&#xe640;</i>删除</a>

    </div>
</div>
<!--增加的div内容-->
<div id="addContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="addform" lay-filter="addform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">


                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">账户编号</label>
                    <input type="hidden" name="accountId" id="insertAccountId">
                    <div class="layui-input-inline">
                        <input type="text" name="blankCardCode" id="insertBlankCardCode" lay-verify="required"
                               autocomplete="off" placeholder="请选择银行账户" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">证券编号</label>
                    <input type="hidden" name="securitiesId" id="insertSecuritiesId">
                    <div class="layui-input-inline">
                        <input type="text" id="insertSecuritiesName" name="securitiesName" lay-verify="required"
                               autocomplete="off" placeholder="请选择证券编号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">资金流向</label>
                    <div class="layui-input-inline">
                        <select name="flag">
                            <option value="1">流入</option>
                            <option value="-1">流出</option>
                        </select>
                    </div>
                </div>


                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">业务日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="addtime" name="dateTime" lay-verify="required"
                               autocomplete="off" placeholder="请选择日期" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">业务类型</label>
                    <div class="layui-input-inline">
                        <select name="serviceType">
                            <option value="1">清算款</option>
                            <option value="2">估值增值</option>
                            <option value="3">债券利息</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">金额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="amount" lay-verify="required|number"
                               autocomplete="off" placeholder="请输入金额" class="layui-input">
                    </div>
                </div>


        <div style="position: absolute; bottom: 10%; left: 39%;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--修改的div内容-->
<div id="editContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;" >

        <input type="hidden" name="accountId"/>
                <input type="hidden" name="securitiesClosedPayId"/>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">证券编号</label>
                    <input type="hidden" name="securitiesId" id="updateSecuritiesId">
                    <div class="layui-input-inline">
                        <input type="text" id="updateSecuritiesName" name="securitiesName" lay-verify="required"
                               autocomplete="off" placeholder="请选择证券编号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">资金流向</label>
                    <div class="layui-input-inline">
                        <select name="flag">
                            <option value="1">流入</option>
                            <option value="-1">流出</option>
                        </select>
                    </div>
                </div>


                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">业务日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="updateTime" name="dateTime" lay-verify="required"
                               autocomplete="off" placeholder="请选择日期" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">业务类型</label>
                    <div class="layui-input-inline">
                        <select name="serviceType">
                            <option value="1">清算款</option>
                            <option value="2">估值增值</option>
                            <option value="3">债券利息</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">金额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="amount" lay-verify="required|number"
                               autocomplete="off" placeholder="请输入金额" class="layui-input">
                    </div>
                </div>

        <div style="position: absolute; bottom: 15%; left: 39%;">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>修改
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>


<script type="text/javascript" src="../js/securitiesClosedPay.js">
</script>
</body>
</html>