<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="../lib/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../lib/layuimini/css/public.css" media="all">
    <script src="../lib/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="../lib/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--    <script src="../lib/layui/layui.js" charset="utf-8"></script>-->
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>

    <!--折叠展开按钮-->
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div>
                <div class="layui-btn-group">
                    <button class="layui-btn" id="btn-expand">全部展开</button>
                    <button class="layui-btn layui-btn-normal layui-bg-green" id="btn-fold">全部折叠</button>
                </div>
            </div>

        </div>
    </div>

    <!--显示在表头的工具条-->
    <script type="text/html" id="stockToolBar">
        <div style="float:right">
            <button class="layui-btn layui-btn-normal layui-btn layui-btn-sm layui-bg-green" lay-event="addParent"><i
                    class="layui-icon">&#xe654;</i>添加父模块
            </button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="addChild"><i
                    class="layui-icon">&#xe654;</i>添加子模块
            </button>
        </div>
    </script>
    <script type="text/javascript">
        layui.use(['table', 'treetable','element', 'form', 'layer', 'laydate'], function () {
            var $ = layui.jquery;
            var table = layui.table;
            var treetable = layui.treetable;
            var layer = layui.layer;
            var form = layui.form;
            var formSelects = layui.formSelects;
            var laydate = layui.laydate;

            //新增父类提交
            form.on('submit(addsubmitparent)', function (data) {
                alert("coming")
                var formData = $('#addformparent').serialize();
                $.post("../Stock/insertStock", formData, function (msg) {
                    if (msg > 0) {
                        treetable.render({
                            treeColIndex: 1,
                            treeSpid: '000',
                            treeIdName: 'stockId',
                            treePidName: 'stockParentId',
                            elem: '#stock-table',
                            toolbar: '#stockToolBar',//显示在表头的工具条
                            url: '../Stock/selectStock',
                            page: false,
                            cols: [
                                [
                                    {type: 'numbers'},
                                    {field: 'stockId', width: 200, title: '股票板块编号'},
                                    {field: 'stockName', title: '股票板块名称'},
                                    {field: 'stockDesc', width: 300, align: 'center', title: '备注'},
                                    {templet: '#barDemo', width: 300, align: 'center', title: '操作'}
                                ]
                            ],
                            done: function () {
                                // layer.closeAll('loading');
                            }
                        });
                        layer.closeAll();
                        layer.msg('添加成功', {
                            title: '提示',
                            area: ['200px',
                                '140px'],
                            time: 0,
                            btn: ['知道了']
                        });
                    } else {
                        layer.closeAll();
                        layer.msg('添加失败', {
                            title: '提示',
                            area: ['200px',
                                '140px'],
                            time: 0,
                            btn: ['知道了']
                        });
                    }
                });
                return false;
            });

            //新增子类提交
            form.on('submit(editsubmit)', function (data) {
                var formData = $('#editform2').serialize();
                $.post("../Stock/insertStock", formData, function (msg) {
                    if (msg > 0) {
                        treetable.render({
                            treeColIndex: 1,
                            treeSpid: '000',
                            treeIdName: 'stockId',
                            treePidName: 'stockParentId',
                            elem: '#stock-table',
                            toolbar: '#stockToolBar',//显示在表头的工具条
                            url: '../Stock/selectStock',
                            page: false,
                            cols: [
                                [
                                    {type: 'numbers'},
                                    {field: 'stockId', width: 200, title: '股票板块编号'},
                                    {field: 'stockName', title: '股票板块名称'},
                                    {field: 'stockDesc', width: 300, align: 'center', title: '备注'},
                                    {templet: '#barDemo', width: 300, align: 'center', title: '操作'}
                                ]
                            ],
                            done: function () {
                                // layer.closeAll('loading');
                            }
                        });
                        layer.closeAll();
                        layer.msg('添加成功', {
                            title: '提示',
                            area: ['200px',
                                '140px'],
                            time: 0,
                            btn: ['知道了']
                        });
                    } else {
                        layer.closeAll();
                        layer.msg('添加失败', {
                            title: '提示',
                            area: ['200px',
                                '140px'],
                            time: 0,
                            btn: ['知道了']
                        });
                    }
                });
                return false;
            });
            //修改提交
            form.on('submit(updatesubmit)', function (data) {
                var formData = $('#updateform').serialize();
                $.post("../Stock/updateStock", formData, function (msg) {
                    if (msg > 0) {
                        treetable.render({
                            treeColIndex: 1,
                            treeSpid: '000',
                            treeIdName: 'stockId',
                            treePidName: 'stockParentId',
                            elem: '#stock-table',
                            toolbar: '#stockToolBar',//显示在表头的工具条
                            url: '../Stock/selectStock',
                            page: false,
                            cols: [
                                [
                                    {type: 'numbers'},
                                    {field: 'stockId', width: 200, title: '股票板块编号'},
                                    {field: 'stockName', title: '股票板块名称'},
                                    {field: 'stockDesc', width: 300, align: 'center', title: '备注'},
                                    {templet: '#barDemo', width: 300, align: 'center', title: '操作'}
                                ]
                            ],
                            done: function () {
                                // layer.closeAll('loading');
                            }
                        });
                        layer.closeAll();
                        layer.msg('修改成功', {
                            title: '提示',
                            area: ['200px',
                                '140px'],
                            time: 0,
                            btn: ['知道了']
                        });
                    } else {
                        layer.closeAll();
                        layer.msg('修改失败', {
                            title: '提示',
                            area: ['200px',
                                '140px'],
                            time: 0,
                            btn: ['知道了']
                        });
                    }
                });
                return false;
            });

            // 渲染表格
            treetable.render({
                treeColIndex: 1,
                treeSpid: '000',
                treeIdName: 'stockId',
                treePidName: 'stockParentId',
                elem: '#stock-table',
                toolbar: '#stockToolBar',//显示在表头的工具条
                url: '../Stock/selectStock',
                page: false,
                cols: [
                    [
                        {type: 'numbers'},
                        {field: 'stockId', width: 200, title: '股票板块编号'},
                        {field: 'stockName', title: '股票板块名称'},
                        {field: 'stockDesc', width: 300, align: 'center', title: '备注'},
                        {templet: '#barDemo', width: 300, align: 'center', title: '操作'}
                    ]
                ],
                done: function () {
                    // layer.closeAll('loading');
                }
            });

            <!--展开按钮-->
            $('#btn-expand').click(function () {
                treetable.expandAll('#stock-table');
            });

            <!--折叠按钮-->
            $('#btn-fold').click(function () {
                treetable.foldAll('#stock-table');
            });

            //监听增加的工具栏
            table.on('toolbar(stock-table)', function (obj) {
                //获取选中复选框的对象，
                var checkStatus = table.checkStatus(obj.config.id);//得到表格选中行的ID
                switch (obj.event) {
                    case 'addParent':
                        var index = layer.open({
                            type: 1,
                            title: '添加股票父模块',
                            area:['500px','500px'],
                            closeBtn: 1,
                            move: false,
                            content: $("#addParentContent"),
                            btn: []
                        });
                        form.render();
                        //全屏
                        layer.full(index);
                        break;
                    case 'addChild':
                        var index = layer.open({
                            type: 1,
                            title: '添加股票子模块',
                            area:['500px','500px'],
                            closeBtn: 1,
                            move: false,
                            content: $("#addSonContent"),
                            btn: []
                        });
                        form.render();
                        //全屏
                        layer.full(index);
                        break;
                }
            });

            //给表格编辑，删除按钮添加点击事件
            table.on('tool(stock-table)', function (obj) {
                var data = obj.data;//得到删除行整行的数据
                alert(data.stockId);
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', {icon: 2}, function (index) {
                        layer.close(index);
                        $.post("../Stock/deleteStock",{stockId: data.stockId}, function (msg) {
                            treetable.render({
                                treeColIndex: 1,
                                treeSpid: '000',
                                treeIdName: 'stockId',
                                treePidName: 'stockParentId',
                                elem: '#stock-table',
                                toolbar: '#stockToolBar',//显示在表头的工具条
                                url: '../Stock/selectStock',
                                page: false,
                                cols: [
                                    [
                                        {type: 'numbers'},
                                        {field: 'stockId', width: 200, title: '股票板块编号'},
                                        {field: 'stockName', title: '股票板块名称'},
                                        {field: 'stockDesc', width: 300, align: 'center', title: '备注'},
                                        {templet: '#barDemo', width: 300, align: 'center', title: '操作'}
                                    ]
                                ],
                                done: function () {
                                    // layer.closeAll('loading');
                                }
                            });
                        });

                    });
                } else if (obj.event === 'edit') {
                    alert(JSON.stringify(data));
                    form.val('updateform', $.parseJSON(JSON.stringify(data)));
                    var index = layer.open({
                        type: 1,
                        title: '修改证券信息',
                        closeBtn: 1,
                        move: false,
                        area: ['500px', '400px'],
                        content: $('#updatContent')
                    });

                    form.render();
                    layer.full(index);
                };
            })
        });
        function myclose() {
            layer.closeAll();
        }
    </script>

    <!--加载的数据表格-->
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <!--表格-->
    <table id="stock-table" class="layui-table" lay-filter="stock-table" ></table>
    <!--工具条-->
    <div style="display: none;" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i
                class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                class="layui-icon">&#xe640;</i>删除</a>
    </div>
</div>


<!--增加父类的div内容-->
<div id="addParentContent"
     style="display: none; width: 100% ; height: 100%; text-align: center;">
    <form id="addformparent" lay-filter="addformparent"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">板块编号</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="例如：001" name="stockId">
                </div>
            </div>
            <input name="stockParentId" type="hidden" value="000">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">板块名称</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入板块名称"
                           name="stockName">
                </div>
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center; width: 130px; height: 100px; line-height: 81px">板块备注</label>
            <div class="layui-inline layui-show-xs-block">
                <textarea name="stockDesc" required lay-verify="required" placeholder="请输入板块备注" class="layui-textarea" style="width: 300px"></textarea>
            </div>
        </div>
        <br>
        <div style="position: absolute; bottom: 0px; left: 37%;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmitparent">
                <i class="layui-icon">&#x1005;</i>提交
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--增加子类的div内容-->
<div id="addSonContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform2" lay-filter="editform2"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">板块编号</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="例如：001" name="stockId">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">板块名称</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入板块名称"
                           name="stockName">
                </div>
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">父类板块编号</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="请输入父类板块编号"
                       name="stockParentId" id="addParentStock">
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center; width: 130px; height: 100px; line-height: 81px">板块备注</label>
            <div class="layui-inline layui-show-xs-block">
                <textarea name="stockDesc" required lay-verify="required" placeholder="请输入板块备注" class="layui-textarea" style="width: 300px"></textarea>
            </div>
        </div>
        <br>
        <div style="position: absolute; bottom: 0px; left: 37%;">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>提交
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form> `
</div>

<!--修改的div内容-->
<div id="updatContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="updateform" lay-filter="updateform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">板块编号</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="例如：001" name="blankCardCode"
                           readonly="readonly">
                    <input name="accountId" type="hidden">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">板块名称</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入板块名称"
                           name="accountName">
                </div>
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">父类板块编号</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="请输入父类板块编号"
                       name="accountName">
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center; width: 130px; height: 100px; line-height: 81px">板块备注</label>
            <div class="layui-inline layui-show-xs-block">
                <textarea name="accountDesc" required lay-verify="required" placeholder="请输入板块备注" class="layui-textarea" style="width: 300px"></textarea>
            </div>
        </div>
        <br>
        <div style="position: absolute; bottom: 0px; left: 37%;">
            <button class="layui-btn" lay-submit="" lay-filter="updatesubmit">
                <i class="layui-icon">&#x1005;</i>提交
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--添加子模块的父类下拉表格  只显示父类-->
<!--修改下拉表格-->
<script src="../js/securities.js"></script>
<script type="text/javascript">
    layui.use([ 'tableSelect'], function () {
        var $=layui.jquery,
            tableSelect=layui.tableSelect;
        //增加得下拉表格
        tableSelect.render({
            elem:'#addParentStock',
            checkedKey:'stockName',
            table:{
                url:'../Stock/selectParentStock',
                cols:[
                    [   {type:'radio'},
                        {field:'stockName',title:'股票名称'},
                        {field: 'stockId',title: '股票Id'}
                    ]
                ]
            },
            done:function (elem,data) {
                //elem:返回之前input对象；data:表格返回的选中的数据 []
                var newJson=[];
                //遍历选中的数据
                $.each(data.data,function (index,item) {
                    newJson.push(item.stockId);
                    console.log(item.stockId)
                    $("#addAccountId").val(item.stockId);//给隐藏域中的val赋值
                });
                elem.val(newJson.join(","));//给输入框里显示的值赋值
            }
        })
    })
</script>
</body>
</html>