<!DOCTYPE html>
<html>
<head>
    <title>划款指令页面</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../css/theme9.css">
    <script type="text/javascript" src="../lib/layui/layui.js"></script>
    <script src="../lib/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script src="../lib/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <!--工具条-->
    <script type="text/html" id="userToolBar">
        <div style="float:right">
            <button class="layui-btn layui-btn-normal layui-btn layui-btn-sm layui-bg-green" lay-event="add"><i
                    class="layui-icon">&#xe654;</i>添加划款指令</button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                    class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
        <br/>
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">划款日期</label>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input" autocomplete="off"  placeholder="请选择日期"  name="end" id="start">
            </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn"  lay-submit="" lay-filter="search" lay-event="search"><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
        </form>
    </script>



</head>
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <!--表格-->
    <table id="userTable" lay-filter="userTable"></table>
    <!--工具条-->
    <div style="display: none;" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i
                class="layui-icon">&#xe642;</i>生成指令</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                class="layui-icon">&#xe640;</i>删除</a>

    </div>
</div>
<!--增加的div内容-->
<div id="addContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="addform" lay-filter="addform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">划款日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="crossSectionDate" id="startDate" lay-verify="date" placeholder="划款日期" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">到账日期</label>
                    <div class="layui-input-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="accountingDate" id="endDate" lay-verify="date" placeholder="到账日期" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">收款账号</label>
                    <div class="layui-input-inline">
                        <input type="hidden" name="inAccountId" id="inAccountId"/>
                        <input type="hidden" name="inBlankName" id="inBlankName"/>
                        <input type="text" id="inBlankCardCode" name="inBlankCardCode" placeholder="请选择收款账号" lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">付款账号</label>
                    <div class="layui-input-inline">
                        <input type="hidden" name="outAccount" id="outAccountId"/>
                        <input type="hidden" name="outBlankName" id="outBlankName"/>
                        <input type="text" id="outBlankCardCode" name="outBlankCardCode" lay-verify="required"
                               autocomplete="off" placeholder="请选择付款账户" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="layui-form-item" style="text-align: center;">
                    <label class="layui-form-label layui-bg-green">划款金额</label>
                    <div class="layui-input-inline">
                        <input type="number" name="money"  lay-verify="required"  placeholder="划款金额" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green" style="height: 100px;line-height: 100px;">备注</label>
            <div class="layui-input-inline">
					<textarea rows="" name="purpose"   placeholder="划款用途" cols=""
                              class="layui-textarea" style="width: 520px;"></textarea>
            </div>
        </div>
        <div style="position: absolute; bottom: 0px; left: 38%;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--生成指令的div内容-->
<div id="editContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div>
            <input type="hidden" name="transferMoneyId"/>
            <input type="hidden" name="inAccountId"/>
            <input type="hidden" name="inBlankName"/>
            <input type="hidden" name="inBlankCardCode"/>
            <input type="hidden" name="crossSectionDate"/>
            <input type="hidden" name="accountingDate"/>
            <input type="hidden" name="money"/>
            <input type="hidden" name="outAccount"/>
            <input type="hidden" name="outBlankName"/>
            <input type="hidden" name="outBlankCardCode"/>
            <input type="hidden" name="foundId"/>
            <input type="hidden" name="purpose"/>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 120px;text-align: center">显示抬头项</label>
                <div class="layui-inline layui-show-xs-block" style="width: 184px">
                    <select name="orderCheque" id="orderCheque" class="layui-select" lay-filter="title">
                        <option value="" placeholder="请选择"></option>
                        <option value="1" >是</option>
                        <option value="2">否</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 120px;text-align: center">显示审核人员</label>
                <div class="layui-inline layui-show-xs-block" style="width: 184px">
                    <select name="auditor">
                        <option value="" placeholder="请选择"></option>
                        <option value="1" >是</option>
                        <option value="2">否</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="layui-inline layui-show-xs-block" style="display: none" id="BTitleDiv">
                <label class="layui-form-label layui-bg-green" style="width: 125px;text-align: center">抬头名称</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input" name="btitle" autocomplete="off"   style="width:490px;" id="BTitle">
                </div>
            </div>
        </div>
        <br>
        <div class="layui-inline layui-show-xs-block" style="display: none" id="HTitleDiv">
            <label class="layui-form-label layui-bg-green" style="text-align: center; width: 130px; height: 100px; line-height: 81px">抬头名称说明</label>
            <div class="layui-inline layui-show-xs-block">
                <textarea name="htitle" required lay-verify="required"  class="layui-textarea" style="width: 485px" id="HTitle"></textarea>
            </div>
        </div>
        <div style="position: absolute; bottom: 20px; margin-left: 220px">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>生成
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<script type="text/javascript" src="../js/transferMoney.js">
</script>



</body>
</html>