<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../lib/layuimini/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit"  lay-event="edit" onclick="xadmin.open('编辑','./updateUserDemo1',600,400)" style="background-color: rgba(0, 150, 136, 1)"><i class="layui-icon">&#xe642;</i>编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</a>
        </script>

    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-form layui-col-space5" style="float: right">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add" onclick="xadmin.open('添加','./addUserDemo1',600,400)" style="margin-top: 8px;background-color: rgba(0, 150, 136, 1)"><i class="layui-icon"></i>添加</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" style="margin-top: 8px" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
    </div>
    <form class="layui-form layui-col-space5">
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">开始日期</label>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="start" placeholder="开始日期">
            </div>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">结束日期</label>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="end" placeholder="结束日期">
            </div>
        </div>
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off" placeholder="查询条件">
        </div>
        <div class="layui-inline layui-show-xs-block">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>
    </form>
</script>

<script src="../lib/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/userDemo.js">

</script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#start'
        });
        laydate.render({
            elem: '#end'
        });
    })
</script>
</body>
</html>