
<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                    <button class="layui-btn" onclick="xadmin.open('添加用户','./addUser.html',600,400)"><i class="layui-icon"></i>添加</button>
                </div>


            </div>
        </div>
    </div>
</div>
<table id="userTable" lay-filter="test"></table>
<div style="display: none;" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i
            class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon">&#xe640;</i>删除</a>

</div>

<script>

    layui.use(['element', 'form', 'table', 'layer', 'laydate'], function () {
        var layer = layui.layer;

        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var formSelects = layui.formSelects;
        var laydate = layui.laydate;
        //新增提交
        form.on('submit(test)', function(data){
            var formData=$('#addform').serialize();
            $.post("../insertUser",formData,function(msg){
                if(msg>0){
                    table.reload('test');
                    layer.closeAll();
                    layer.msg('添加成功',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }else{
                    layer.closeAll();
                    layer.msg('添加失败',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }
            });
            return false;
        });
        //修改提交
        form.on('submit(editsubmit)', function(data){
            var formData=$('#editform').serialize();
            $.post("./updateUser",formData,function(msg){
                if(msg>0){
                    table.reload('userTable');
                    layer.closeAll();
                    layer.msg('修改成功',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }else{
                    layer.closeAll();
                    layer.msg('修改失败',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }
            });
            return false;
        });

    layui.use(['table','laydate','form'], function() {
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;

        table.render({
            elem: '#userTable'
            , height: 312
            , url: '../selectUsers' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {
                    field: 'userId',
                    title: '用户ID',
                    width: 150,
                    sort: true,
                    fixed: 'left'
                }

                    , {field: 'userName', title: '用户名称', width: 150, sort: true}
                    , {field: 'userPwd', title: '用户密码', width: 150}
                    , {field: 'roleId', title: '权限ID', width: 150}
                    , {field: 'status', title: '用户状态', width: 150, sort: true}
                    , {field: 'userInfoDesc', title: '备注', width: 200, sort: true}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 230}
                ]
            ]
        });


        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    $.post("../deleteUsers", "userId=" + data.userId, function (msg) {
                        if (msg > 0) {
                            table.reload('test');
                            layer.closeAll();
                            layer.msg('删除成功', {
                                title: '提示',
                                area: ['200px',
                                    '140px'],
                                time: 0,
                                btn: ['知道了']
                            });
                        } else {
                            layer.closeAll();
                            layer.msg('删除失败', {
                                title: '提示',
                                area: ['200px',
                                    '140px'],
                                time: 0,
                                btn: ['知道了']
                            });
                        }

                    });
                    return false;
                });
            } else if (layEvent == "edit") {
                form.val("editform", data);//第二个参数可以是json字符串也可以是json对象
                layer.open({
                    type: 1,
                    title: '修改用户信息',
                    area: ['893px', '600px'],
                    content: $("#editContent")
                });

                $("#editRoleId").empty();
                $.post("./RoleServlet?method=addOpt", function (datas) {
                    $.each(datas, function (i, n) {
                        var opt = new Option(n.roleName, n.roleId);

                        $("#editRoleId").append(opt);
                    });
                    //给下列列表赋默认值  属性选择器
                    $("#editRoleId option[value='" + data.roleId + "']").attr("selected", "selected");
                    //刷新下拉列表
                    form.render();
                }, "json");
            }
        });

        form.on('submit(editsubmit)', function () {
            var data = form.val("editform");//获取表单区域所有值
            $.post("./UserServlet?method=updateUserServlet", data, function (msg) {
                if (msg > 0) {
                    table.reload('myTable');
                    layer.closeAll();
                    layer.msg('修改成功', {
                        title: '提示',
                        area: ['200px',
                            '140px'],
                        time: 0,
                        btn: ['知道了']
                    });
                } else {
                    layer.closeAll();
                    layer.msg('修改失败', {
                        title: '提示',
                        area: ['200px',
                            '140px'],
                        time: 0,
                        btn: ['知道了']
                    });
                }

            });
            return false;//解决弹出层闪退问题
        });
    });
    })
</script>

<div id="editContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-btn-sm">用户Id</label>
            <div class="layui-input-inline">
                <input type="text" name="userId" lay-verify="required"
                       autocomplete="off" placeholder="" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="userName" lay-verify="required"
                       autocomplete="off" placeholder="请输入用户名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="userPwd" lay-verify="required"
                       autocomplete="off" placeholder="请输入密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label">请选择角色</label>
            <div class="layui-input-inline">
                <select id="editRoleId" name="roleId" xm-select="add" xm-select-radio=""
                        xm-select-search="" lay-verify="required"
                        xm-select-direction="down" xm-select-search-type="dl">
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="text" name="status" lay-verify="required"
                       autocomplete="off" placeholder="请输入状态" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="userInfoDesc" lay-verify="required"
                       autocomplete="off" placeholder="请输入备注" class="layui-input">
            </div>
        </div>

        <div style="position: absolute; bottom: 0px; left: 45%;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>修改
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>
</body>

</html>