
<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<script type="text/html" id="userToolBar">

    <div style="float:right">
        <button class="layui-btn layui-btn layui-btn layui-btn-sm" lay-event="add"><i
                class="layui-icon">&#xe654;</i>添加用户信息</button>
        <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                class="layui-icon">&#xe640;</i>批量删除</button>
    </div>

    <form class="layui-form layui-col-space5" id="toolbarFrom">
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">用户名称</label>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <input class="layui-input"  autocomplete="off" placeholder="请输入用户名称" name="userName" id="userName">
        </div>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">用户状态</label>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <select id="status">
                <option value="">请选择</option>
                <option value="1">开启</option>
                <option value="0">关闭</option>
            </select>
        </div>
        <div class="layui-inline layui-show-xs-block">
            <button class="layui-btn"  lay-submit lay-event="search" lay-filter="search" id="searchId"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>
    </form>

</script>
<table id="userTable" lay-filter="test"></table>
<div style="display: none;" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i
            class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon">&#xe640;</i>删除</a>

</div>

<script>

    layui.use(['element', 'form', 'table', 'layer', 'laydate'], function () {
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laydate=layui.laydate;
        var $ = layui.$;
        //新增提交
        form.on('submit(addsubmit)', function(data){
            var formData=$('#addform').serialize();
            $.post("../insertUsers",formData,function(msg){
                if(msg>0){
                    table.reload('userTable');
                    layer.closeAll();
                    layer.msg('添加成功',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }else{
                    layer.closeAll();
                    layer.msg('添加失败',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }
            });
            return false;
        });
        //修改提交
        form.on('submit(editsubmit)', function(data){
            var formData=$('#editform').serialize();
            $.post("../updateUsers",formData,function(msg){
                if(msg>0){
                    table.reload('userTable');
                    layer.closeAll();
                    layer.msg('修改成功',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }else{
                    layer.closeAll();
                    layer.msg('修改失败',{
                        title : '提示',
                        area : [ '200px',
                            '140px' ],
                        time : 0,
                        btn : [ '知道了' ]
                    });
                }
            });
            return false;
        });

        layui.use(['table','laydate','form'], function() {
            var table = layui.table;
            var laydate = layui.laydate;
            var form = layui.form;

            table.render({
                elem: '#userTable'
                , height: 'full-30'
                , toolbar: '#userToolBar'
                , url: '../selectUsers' //数据接口
                , page: true //开启分页
                , cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        , {field: 'userId', title: '用户ID', width: 192, sort: true,hide:true}
                        , {field: 'userName', title: '用户名称', width: 192, sort: true}
                        , {field: 'userPwd', title: '用户密码', width: 192,templet: '#password'}
                        , {field: 'roleId', title: '权限ID', width: 192,hide:true}
                        , {field: 'roleName', title: '角色名称', width: 192}
                        , {field: 'status', title: '用户状态', width: 192, sort: true,templet:'#titleTpl'},
                        , {field: 'userInfoDesc', title: '备注', width: 210, sort: true}
                        , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 200}

                    ]
                ]

            });


            //给工具条的按钮添加事件
            table.on('toolbar(test)', function (obj) {
                switch (obj.event) {
                    case "search":
                        var userName=$('#userName').val();
                        var status=$('#status').val();
                        table.reload('userTable', {
                            method: 'post',
                            page: {
                                curr: 1
                            },
                            where:{
                                'userName':userName,
                                'status':status
                            }
                        });
                        break;

                    case "add":
                        layer.open({
                            type: 1,
                            title: '新增信息',
                            area: ['693px', '550px'],
                            content: $("#addContent")
                        });
                        $.ajax({
                            url:'../role/selectRole?page=1&limit=10000',
                            dataType:'json',
                            type:'post',
                            success:function(obj){
                                $('#roleId').empty();
                                $.each(obj.data,function(index,item){
                                    $('#roleId').append(new Option(item.roleName,item.roleId));//往下拉菜单里添加元素
                                })

                                form.render();//菜单渲染 把内容加载进去
                            }
                        })
                        break;
                    //删除多行
                    case "deleteAll":
                        //获得选中的对象
                        var checkStatus = table.checkStatus("userTable"); //idTest 即为基础参数 id 对应的值
                        // 其中 ID 为基础参数 id 对应的值（见：设定容器唯一ID）
                        var userIds = [];
                        var dataArr = checkStatus.data; //获取选中行的数据
                        $.each(dataArr, function (i, n) {
                            userIds.push(n.userId);
                        });
                        if (dataArr.length == 0) {
                            layer.msg("请先选中数据");
                        }
                        else {
                            layer.confirm('真的删除行么', function () {
                                layer.close();
                                //向服务端发送删除指令
                                $.post("../deleteUsers", "userId="+userIds,function(msg){
                                    if(msg>0){
                                        table.reload('userTable');
                                        layer.closeAll();
                                        layer.msg('删除成功',{
                                            title : '提示',
                                            area : [ '200px',
                                                '140px' ],
                                            time : 0,
                                            btn : [ '知道了' ]
                                        });
                                    }
                                    else{
                                        layer.closeAll();
                                        layer.msg('删除失败',{
                                            title : '提示',
                                            area : [ '200px',
                                                '140px' ],
                                            time : 0,
                                            btn : [ '知道了' ]
                                        });
                                    }
                                });
                                return false;
                            });
                        }
                        break;
                }
            });


            //删除
            table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

                if (layEvent === 'del') { //删除
                    layer.confirm('真的删除行么', function (index) {
                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        layer.close(index);
                        //向服务端发送删除指令
                        $.post("../deleteUsers", "userId=" + data.userId, function (msg) {
                            if (msg > 0) {
                                table.reload('test');
                                layer.closeAll();
                                layer.msg('删除成功', {
                                    title: '提示',
                                    area: ['200px',
                                        '140px'],
                                    time: 0,
                                    btn: ['知道了']
                                });
                            } else {
                                layer.closeAll();
                                layer.msg('删除失败', {
                                    title: '提示',
                                    area: ['200px',
                                        '140px'],
                                    time: 0,
                                    btn: ['知道了']
                                });
                            }

                        });
                        return false;
                    });
                } else if (layEvent == "edit") {
                    form.val("editform", data);//第二个参数可以是json字符串也可以是json对象
                    layer.open({
                        type: 1,
                        title: '修改用户信息',
                        area: ['693px', '550px'],
                        content: $("#editContent")
                    });
                    $.ajax({
                        url:'../role/selectRole?page=1&limit=10000',
                        dataType:'json',
                        type:'post',
                        success:function(obj){
                            $('#roleId_2').empty();
                            $.each(obj.data,function(index,item){
                                $('#roleId_2').append(new Option(item.roleName,item.roleId));//往下拉菜单里添加元素
                            })
                            $("#roleId_2 option[value='"+data.roleId+"']").attr("selected", "selected");

                            form.render();//菜单渲染 把内容加载进去
                        }
                    })
                    /*   $("#editRoleId").empty();
                       $.post("./RoleServlet?method=addOpt", function (datas) {
                           $.each(datas, function (i, n) {
                               var opt = new Option(n.roleName, n.roleId);

                               $("#editRoleId").append(opt);
                           });
                           //给下列列表赋默认值  属性选择器
                           $("#editRoleId option[value='" + data.roleId + "']").attr("selected", "selected");
                           //刷新下拉列表
                           form.render();
                       }, "json");*/
                }
            });


        });
    });
    function myclose() {
        layer.closeAll();
    }

</script>
<!--增加的div内容-->
<div id="addContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="addform" lay-filter="addform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">用户ID</label>
            <div class="layui-input-inline">
                <input type="text" name="userId" lay-verify="required"
                       autocomplete="off" placeholder="请输入用户ID" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="userName" lay-verify="required"
                       autocomplete="off" placeholder="请输入用户名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="userPwd" lay-verify="required"
                       autocomplete="off" placeholder="请输入密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">请选择角色</label>
            <div class="layui-input-inline">
                <select id="roleId" name="roleId" xm-select="add" xm-select-radio=""
                        xm-select-search="" lay-verify="required"
                        xm-select-direction="down" xm-select-search-type="dl">
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">用户状态</label>
            <div class="layui-input-inline">
                <select  name="status">
                    <option value="">请选择</option>
                    <option value="1">开启</option>
                    <option value="0">关闭</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="userInfoDesc" lay-verify="required"
                       autocomplete="off" placeholder="请输入备注" class="layui-input">
            </div>
        </div>
        <div style="position: absolute; bottom: 50px; left: 40%;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--修改的div内容-->
<div id="editContent"
     style="display: none; width: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 60px auto; display: inline-block;">
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">用户ID</label>
            <div class="layui-input-inline">
                <input type="text" name="userId" lay-verify="required"
                       autocomplete="off" placeholder="请输入用户ID" class="layui-input">
            </div>

        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="userName" lay-verify="required"
                       autocomplete="off" placeholder="请输入用户名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="userPwd" lay-verify="required"
                       autocomplete="off" placeholder="请输入密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">请选择角色</label>
            <div class="layui-input-inline">
                <select id="roleId_2" name="roleId" xm-select="add" xm-select-radio=""
                        xm-select-search="" lay-verify="required"
                        xm-select-direction="down" xm-select-search-type="dl">
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">用户状态</label>
            <div class="layui-input-inline">
                <select  name="status">
                    <option value="">请选择</option>
                    <option value="1">开启</option>
                    <option value="0">关闭</option>

                </select>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="userInfoDesc" lay-verify="required"
                       autocomplete="off" placeholder="请输入备注" class="layui-input">
            </div>
        </div>
        <div style="position: absolute; bottom: 50px; left: 40%;">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>修改
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>


<script type="text/html" id="titleTpl">
    {{#  if(d.status == 1){ }}
    <span class="layui-badge layui-bg-green">开启</span>
    {{#  } else { }}
    <span class="layui-badge layui-bg-green">关闭</span>
    {{#  } }}
</script>

<script type="text/html" id="password">
    ******
</script>
<!--<script>
    function change1() {
    $.get("../updateUsers","status",function(msg){
    alert('aasas');
    });
}
    $()
</script>-->
</body>

</html>