<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--石良军  交易所品种费率页面-->
    <title>交易所品种费率页面</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../css/theme3395.min.css">
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <!--     <link rel="stylesheet" href="./css/theme4.css">-->
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="../lib/layui/css/layui.css">

    <script src="../lib/layui/layui.js"></script>

    <!--工具条-->
    <script type="text/html" id="toolbarDemo">
        <div style="float:right;margin-top: 3px">
            <button class="layui-btn layui-btn layui-btn layui-btn-sm" lay-event="add"><i
                    class="layui-icon">&#xe654;</i>添加品种费率数据
            </button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                    class="layui-icon">&#xe640;</i>批量删除
            </button>
        </div>

        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">交易所名称</label>
                <div class="layui-inline layui-show-xs-block">
                    <select name="exchangeName" id="condition1" lay-verify="" lay-search>
                        <option value="">请选择</option>
                        <option value="1">上交所</option>
                        <option value="2">深交所</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">费率类型</label>

                <div class="layui-inline layui-show-xs-block">
                    <select name="rateType" id="condition2" lay-verify="" lay-search>
                        <option value="">请选择</option>
                        <option value="1">股票</option>
                        <option value="2">债券</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn" lay-submit="" lay-event="search" lay-filter="search"><i class="layui-icon">&#xe615;</i>搜索
                </button>
            </div>
        </form>
    </script>


    <script type="text/javascript">
        layui.use(['element', 'form', 'table', 'layer', 'laydate'], function () {
            var layer = layui.layer;
            var $ = layui.$;
            var table = layui.table;
            var form = layui.form;
            var formSelects = layui.formSelects;
            var laydate = layui.laydate;
            var myData;
            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });


            //新增提交  addContent
            form.on('submit(addsubmit)', function (data) {
                var formData = $('#addform').serialize();
                //获取表格所有最新数据
                datas = table.cache["varietiesRateTable"];
                var add1 = document.getElementById("exchangeName1").value;
                var add2 = document.getElementById("rateType1").value;
                for (var i = 0; i < datas.length; i++) {
                    if (datas[i].exchangeName == add1 && datas[i].rateType == add2) {
                        layer.msg('该交易所品种费率已存在！')
                        return false;
                    }
                }
                $.post("/insertVarietiesRate", formData, function (msg) {
                    if (msg > 0) {
                        table.reload('varietiesRateTable');
                        layer.closeAll();
                        layer.msg('添加成功', {
                            title: '提示',
                            area: ['200px',
                                '140px'],
                            time: 0,
                            btn: ['知道了']
                        });
                        $("#add").reset();
                    } else {
                        layer.closeAll();
                        layer.msg('添加失败', {
                            title: '提示',
                            area: ['200px',
                                '140px'],
                            time: 0,
                            btn: ['知道了']
                        });
                    }
                });
                layer.empty();
                return false;
            });

            //修改提交
            form.on('submit(editsubmit)', function (data) {
                var formData = $('#editform').serialize();
                datas = table.cache["varietiesRateTable"];
                var edit1 = document.getElementById("exchangeName2").value;
                var edit2 = document.getElementById("rateType2").value;
                if (edit1 != myData.exchangeName || edit2 != myData.rateType) {
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].exchangeName == edit1 && datas[i].rateType == edit2) {
                            layer.msg('该交易所品种费率已存在！')
                            return false;
                        }
                    }
                }
                $.post("/updateVarietiesRate", formData, function (msg) {
                    if (msg > 0) {
                        table.reload('varietiesRateTable');
                        layer.closeAll();
                        layer.msg('修改成功', {
                            title: '提示',
                            area: ['200px',
                                '140px'],
                            time: 0,
                            btn: ['知道了']
                        });
                    } else {
                        layer.closeAll();
                        layer.msg('修改失败', {
                            title: '提示',
                            area: ['200px',
                                '140px'],
                            time: 0,
                            btn: ['知道了']
                        });
                    }
                });
                return false;
            });

            table.render({
                elem: '#varietiesRateTable'
                , url: '/selectVarietiesRate'
                , page: true
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , height: 750
                , cellMinWidth:60
                , minLength: 80
                // , cellMinWidth: 60
                , defaultToolbar: ['filter', 'exports', 'print']
                , cols: [
                    [
                        {field: 'idTest', type: 'checkbox', fixed: 'left', align: 'center'}
                        , {
                        field: 'exchangeName', title: '交易所名称', sort: true, align: 'center'
                        , templet: function (item) {
                            if (item.exchangeName == '2') {
                                return '深交所';
                            } else if (item.exchangeName == '1') {
                                return '上交所';
                            }
                        }
                    }
                        , {
                        field: 'rateType', title: '费率类型', sort: true, align: 'center'
                        , templet: function (item) {
                            if (item.rateType == '2') {
                                return '债券';
                            } else if (item.rateType == '1') {
                                return '股票';
                            }
                        }
                    }
                        , {field: 'stampDuty', title: '印花税', align: 'center'}
                        , {field: 'transferFee', title: '过户费', align: 'center'}
                        , {field: 'collectionRate', title: '征管费', align: 'center'}
                        , {field: 'brokerage', title: '经手费', align: 'center'}
                        , {fixed: 'right', title: '操作', toolbar: '#barDemo', align: 'center'}
                    ]
                ]
                , limits: [10, 15, 20, 25, 50, 100]
                , limit: 15
                , page: true
                , skin: 'line'
            });
            //监听表头工具条
            table.on('toolbar(varietiesRateTable)', function (obj) {
                switch (obj.event) {
                    case 'add':
                        var index = layer.open({
                            type: 1,
                            title: '添加交易所品种费率信息',
                            closeBtn: 1,
                            move: false,
                            area: ['750px', '650px'],
                            content: $("#addContent"),
                            btn: [],
                        });
                    /*   下拉列表，暂时不用
                     form.render();
                     $.ajax({
                         url: './RoleServlet',
                         dataType: 'json',
                         type: 'post',
                         success: function (data) {
                             $.each(data, function (index, item) {
                                 //alert(item.roleName)
                                 $('#roleId').append(new Option(item.roleName, item.roleId));
                             })
                             form.render();//菜单渲染 把内容加载进去
                         }
                     })
                     form.render();
                     //全屏
                     layer.full(index);
                     break;*/
                    case 'search':
                        var exchangeName = document.getElementById("condition1").value;
                        var rateType = document.getElementById("condition2").value;
                        alert("ex:=" + exchangeName + "rate:=" + rateType);
                        //表格的重新加载事件
                        table.reload('varietiesRateTable', {
                            method: 'post'
                            , where: {
                                'exchangeName': exchangeName,
                                'rateType': rateType
                            }
                            , page: {
                                curr: 1
                            }
                        });
                        break;
                    case 'deleteAll':
                        var checkStatus = table.checkStatus(obj.config.id);//得到表格中选中行的ID
                        var data = checkStatus.data;  //所有数据对象
                        if (data.length == 0) {
                            layer.msg("请至少选择一条数据")
                        } else {
                            var exchangeNames = [];
                            var rateTypes = [];
                            $.each(data, function (i, item) {
                                exchangeNames.push(item.exchangeName);
                                rateTypes.push(item.rateType)
                            });
                            layer.confirm("您确定要删除吗?", function (index) {//发送请求到服务器进行批量删除
                                layer.close(index);
                                $.post("/deleteVarietiesRate", {
                                    exchangeNames: exchangeNames.join(","),
                                    rateTypes: rateTypes.join(",")
                                }, function () {
                                    //回调函数，刷新表格数据
                                    table.reload('varietiesRateTable');
                                    //提示删除信息的条数
                                    layer.msg("您已成功删掉" + data.length + "条数据！", {
                                        title: '提示',
                                        area: ['200px', '140px'],
                                        time: 0,
                                        btn: ['知道了']
                                    });
                                });
                            })
                        }
                        break;
                }
            });
            //表格行工具栏——给表格编辑，删除按钮添加点击事件
            table.on('tool(varietiesRateTable)', function (obj) {
                myData = obj.data;//得到删除行整行的数据
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', {icon: 2}, function (index) {//obj.del();比之前少了
                        layer.close(index);
                        $.post("/deleteVarietiesRate", {
                            exchangeNames: (myData.exchangeName).toString(),
                            rateTypes: (myData.rateType).toString()
                        }, function (msg) {
                            table.reload('varietiesRateTable');
                        });
                    });
                } else if (obj.event === 'edit') {
                    // alert(JSON.stringify(data));
                    form.val('editform', $.parseJSON(JSON.stringify(myData)));
                    var index = layer.open({
                        type: 1,
                        title: '修改交易所品种费率',
                        closeBtn: 1,
                        move: false,
                        area: ['750px', '650px'],
                        content: $('#editContent')
                    });
                    form.render();
                    // layer.full(index);
                }
                ;
            })
        });

        function myclose() {
            layer.closeAll();
        }
    </script>
</head>

<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">

<table  class="layui-hide" id="varietiesRateTable" lay-filter="varietiesRateTable"></table>

<!--工具条-->
<div style="display: none;" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i
            class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon">&#xe640;</i>删除</a>

</div>
</div>
<!--增加的div内容-->
<div id="addContent"
     style="display: none; height: 100%;  text-align: center;">
    <form id="addform" lay-filter="addform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">费率类型</label>
            <div class="layui-input-inline">
                <select name="exchangeName" id="exchangeName1" required>
                    <option value="">请选择</option>
                    <option value="1">上交所</option>
                    <option value="2">深交所</option>
                </select>
            </div>
            <br/>
            <label class="layui-form-label layui-bg-green">交易所名称</label>
            <div class="layui-input-inline">
                <select name="rateType" id="rateType1" required>
                    <option value="">请选择</option>
                    <option value="1">股票</option>
                    <option value="2">债券</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green"> 过户费</label>
            <div class="layui-input-inline">
                <input type="number" name="transferFee" lay-verify="required"
                       autocomplete="off" placeholder="" class="layui-input">
            </div>
            <br/>
            <label class="layui-form-label layui-bg-green"> 印花税</label>
            <div class="layui-input-inline">
                <input type="number" name="stampDuty" lay-verify="required"
                       autocomplete="off" placeholder="" class="layui-input">
            </div>
            <br/>
            <label class="layui-form-label layui-bg-green"> 经手费</label>
            <div class="layui-input-inline">
                <input type="number" name="brokerage" lay-verify="required"
                       autocomplete="off" placeholder="" class="layui-input">
            </div>
            <br/>
            <label class="layui-form-label layui-bg-green"> 征管费</label>
            <div class="layui-input-inline">
                <input type="number" name="collectionRate" lay-verify="required"
                       autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>

        <div style="position: absolute; bottom: 0px; left: 40%;text-align: center;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--修改的div内容-->
<div id="editContent"
     style="display: none; height: 100%;  text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green">费率类型</label>
            <div class="layui-input-inline">
                <select name="exchangeName" id="exchangeName2" readonly="true">
                    <option value="">请选择</option>
                    <option value="1">上交所</option>
                    <option value="2">深交所</option>
                </select>
            </div>
            <br/>
            <label class="layui-form-label layui-bg-green">交易所名称</label>
            <div class="layui-input-inline">
                <select name="rateType" id="rateType2" readonly="true">
                    <option value="">请选择</option>
                    <option value="1">股票</option>
                    <option value="2">债券</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <label class="layui-form-label layui-bg-green"> 过户费</label>
            <div class="layui-input-inline">
                <input type="number" name="transferFee" lay-verify="required"
                       autocomplete="off" placeholder="" class="layui-input">
            </div>
            <br/>
            <label class="layui-form-label layui-bg-green"> 印花税</label>
            <div class="layui-input-inline">
                <input type="number" name="stampDuty" lay-verify="required"
                       autocomplete="off" placeholder="" class="layui-input">
            </div>
            <br/>
            <label class="layui-form-label layui-bg-green"> 经手费</label>
            <div class="layui-input-inline">
                <input type="number" name="brokerage" lay-verify="required"
                       autocomplete="off" placeholder="" class="layui-input">
            </div>
            <br/>
            <label class="layui-form-label layui-bg-green"> 征管费</label>
            <div class="layui-input-inline">
                <input type="number" name="collectionRate" lay-verify="required"
                       autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>

        <div style="position: absolute; bottom: 0px; left: 40%;text-align: center;">
            <button class="layui-btn" lay-submit="editsubmit" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>修改
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

</body>
</html>