<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.cashControl.mapper.BankTreasurerMapper">
    <insert id="insertBankTreasurer" parameterType="com.yidu.cashControl.pojo.BankTreasurerPojo">
        insert into bankTreasurer(bankTreasurerId,fundId,totalPrice,accountId,flag,dbTime,dateTime,businessId,allocatingType,bankTreasurerDesc) values
        (#{bankTreasurerId},#{fundId},#{totalPrice},#{accountId},#{flag},#{dbTime},#{dateTime},#{businessId},#{allocatingType},#{bankTreasurerDesc,jdbcType=VARCHAR})
    </insert>
    <update id="updateBankTreasurer" parameterType="com.yidu.cashControl.pojo.BankTreasurerPojo">
        update bankTreasurer set totalPrice=#{totalPrice},accountId=#{accountId},flag=#{flag},dbTime=#{dbTime},allocatingType=#{allocatingType},bankTreasurerDesc=#{bankTreasurerDesc,jdbcType=VARCHAR} where bankTreasurerId=#{bankTreasurerId}
    </update>
    <delete id="deleteBankTreasurer" parameterType="list">
        delete from bankTreasurer where bankTreasurerId in
        <foreach collection="list" item="bankTreasurerId" open="("
                 separator="," close=")">
            #{bankTreasurerId}
        </foreach>
    </delete>
    <delete id="deleteBankTreasurerByBusinessId" parameterType="String">
        delete from bankTreasurer where businessId=#{businessId,jdbcType=VARCHAR}
    </delete>
    <resultMap id="bankTreasurerMap" type="com.yidu.cashControl.pojo.BankTreasurerPojo">
        <result property="bankTreasurerId" column="bankTreasurerId" javaType="String"></result>
        <result property="fundId" column="fundId" javaType="String"></result>
        <result property="totalPrice" column="totalPrice" javaType="double"></result>
        <result property="accountId" column="accountId" javaType="String"></result>
        <result property="flag" column="flag" javaType="int"></result>
        <result property="dbTime" column="dbTime" javaType="String"></result>
        <result property="dateTime" column="dateTime" javaType="String"></result>
        <result property="businessId" column="businessId" javaType="String"></result>
        <result property="allocatingType" column="allocatingType" javaType="int"></result>
        <result property="bankTreasurerDesc" column="bankTreasurerDesc" javaType="String"></result>
    </resultMap>
    <select id="selectBankTreasurer" parameterType="java.util.Map" statementType="CALLABLE">
        {call pkg_tables.sp_select(#{p_tableName,mode=IN,jdbcType=VARCHAR},#{p_condition,mode=IN,jdbcType=VARCHAR},#{p_pageSize,mode=IN,jdbcType=INTEGER},#{p_page,mode=IN,jdbcType=INTEGER},#{p_count,mode=OUT,jdbcType=INTEGER},#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=bankTreasurerMap})}
    </select>

</mapper>