<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yidu.businessData.mapper.CashClosedPayMapper">

    <insert id="insertCashClosedPay" parameterType="com.yidu.businessData.pojo.CashClosedPayPojo">
        insert into cashClosedPay values (#{cashClosedPayId},#{fundId},#{accountId},#{serviceType},#{amount},#{dateTime},#{flag})
    </insert>

    <update id="updateCashClosedPay" parameterType="com.yidu.businessData.pojo.CashClosedPayPojo">
        update cashClosedPay set fundId=#{fundId},accountId=#{accountId},serviceType=#{serviceType},amount=#{amount},dateTime=#{dateTime},flag=#{flag} where cashClosedPayId=#{cashClosedPayId}
    </update>

    <delete id="deleteCashClosedPay" parameterType="INTEGER">
        delete from cashClosedPay where cashClosedPayId=#{cashClosedPayId}
    </delete>

    <select id="selectCashClosedPay" parameterType="java.util.Map" statementType="CALLABLE">
        {call pkg_tables.sp_select(#{p_tableName,jdbcType=VARCHAR,mode=IN},#{p_condition,jdbcType=VARCHAR,mode=IN},#{p_pageSize,jdbcType=INTEGER,mode=IN},#{p_page,jdbcType=INTEGER,mode=IN},#{p_count,jdbcType=INTEGER,mode=OUT},#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=cashClosedPay_map})}
    </select>
    <resultMap id="cashClosedPay_map" type="com.yidu.businessData.pojo.CashClosedPayPojo">
        <result property="cashClosedPayId" column="cashClosedPayId" javaType="String"></result>
        <result property="fundId" column="fundId" javaType="String"></result>
        <result property="fundName" column="fundName" javaType="String"></result>
        <result property="accountId" column="accountId" javaType="String"></result>
        <result property="accountName" column="accountName" javaType="String"></result>
        <result property="serviceType" column="serviceType" javaType="Integer"></result>
        <result property="amount" column="amount" javaType="Double"></result>
        <result property="dateTime" column="dateTime" javaType="String"></result>
        <result property="flag" column="flag" javaType="Integer"></result>
    </resultMap>
</mapper>