<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.businessData.mapper.DepositMapper">
    <insert id="insertDeposit"  parameterType="com.yidu.businessData.pojo.DepositPojo">
        insert into deposit(depositId,fundId,outAccountId,inAccountId,directionOfMoney,businessDate,businessType,money,
        interest,endDate,flag,depositDesc) values (#{depositId},#{fundId},#{outAccountId},#{inAccountId},#{directionOfMoney}
        ,#{businessDate},#{businessType},#{money},#{interest},#{endDate},#{flag},#{depositDesc,jdbcType=VARCHAR})
    </insert>

    <resultMap id="depositMap" type="com.yidu.businessData.pojo.DepositPojo">
        <result property="depositId" column="depositId" javaType="String"    ></result>
        <result property="fundId" column="fundId" javaType="String"    ></result>
        <result property="outAccountName" column="outAccountName" javaType="String"></result>
        <result property="inAccountName" column="inAccountName" javaType="String"></result>
        <result property="outAccountId" column="outAccountId" javaType="String"    ></result>
        <result property="inAccountId" column="inAccountId" javaType="String"    ></result>
        <result property="directionOfMoney" column="directionOfMoney" javaType="int"></result>
        <result property="businessDate" column="businessDate" javaType="String"    ></result>
        <result property="businessType" column="businessType" javaType="int"></result>
        <result property="money" column="money" javaType="double"></result>
        <result property="interest" column="interest" javaType="double"></result>
        <result property="endDate" column="endDate" javaType="String"    ></result>
        <result property="flag" column="flag" javaType="int"></result>
        <result property="depositDesc" column="depositDesc" javaType="String"    ></result>
    </resultMap>
    <select id="selectDeposit" parameterType="java.util.Map" statementType="CALLABLE">
        {call pkg_tables.sp_select(#{p_tableName,mode=IN,jdbcType=VARCHAR},#{p_condition,mode=IN,jdbcType=VARCHAR},#{p_pageSize,mode=IN,jdbcType=INTEGER},#{p_page,mode=IN,jdbcType=INTEGER},#{p_count,mode=OUT,jdbcType=INTEGER},#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=depositMap})}
    </select>

</mapper>