<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.systemManage.mapper.FunctionMapper">

    <!--修改功能-->
    <update id="updateFuction" parameterType="com.yidu.systemManage.pojo.FunctionPojo">
       update role set roleName=#{roleName} , status=#{status} , roleDesc=#{roleDesc} where roleId=#{roleId}
    </update>

    <!--查询功能-->
    <resultMap id="functionMap" type="com.yidu.systemManage.pojo.FunctionPojo">
        <result property="functionId" column="functionId" javaType="Integer"></result>
        <result property="parentId" column="parentId" javaType="Integer"></result>
        <result property="title" column="title" javaType="String"></result>
        <result property="src" column="src" javaType="String"></result>
        <result property="icon" column="icon" javaType="String"></result>
        <result property="target" column="target" javaType="String"></result>
    </resultMap>
    <select id="selectFunction" parameterType="java.util.Map" statementType="CALLABLE">
        {call pkg_tables.sp_select(#{p_tableName,mode=IN,jdbcType=VARCHAR},#{p_condition,mode=IN,jdbcType=VARCHAR},#{p_pageSize,mode=IN,jdbcType=INTEGER},#{p_page,mode=IN,jdbcType=INTEGER},#{p_count,mode=OUT,jdbcType=INTEGER},#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=functionMap})}
    </select>
</mapper>