<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.businessParameter.mapper.FundMapper">

<!--基金参数-->
    <resultMap id="fundMapper" type="com.yidu.businessParameter.pojo.Fund">
        <result property="fundId" column="fundId" javaType="String"></result>
        <result property="fundName" column="fundName" javaType="String"></result>
        <result property="fundType" column="fundType" javaType="Integer"></result>
        <result property="managerId" column="managerId" javaType="String"></result>
        <result property="trusteeBlank" column="trusteeBlank" javaType="String"></result>
        <result property="initNetWorth" column="initNetWorth" javaType="Double"></result>
        <result property="sizeOfThe" column="sizeOfThe" javaType="Double"></result>
        <result property="managerRate" column="managerRate" javaType="Double"></result>
        <result property="hostingRate" column="hostingRate" javaType="Double"></result>
        <result property="provisionDays" column="provisionDays" javaType="Integer"></result>
        <result property="setUpDate" column="setUpDate" javaType="String"></result>
        <result property="fundDesc" column="fundDesc" javaType="String"></result>
        <result property="accountId" column="accountId" javaType="String"></result>
    </resultMap>
    <select id="selectFund"  parameterType="map" statementType="CALLABLE">
          {call pkg_tables.sp_select(#{p_tableName,mode=IN,jdbcType=VARCHAR},#{p_condition,mode=IN,jdbcType=VARCHAR},#{p_pageSize,mode=IN,jdbcType=INTEGER},#{p_page,mode=IN,jdbcType=INTEGER},#{p_count,mode=OUT,jdbcType=INTEGER},#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=fundMapper})}
    </select>

    <insert id="insertFund" parameterType="com.yidu.businessParameter.pojo.Fund">
       insert into fund (fundId,fundName,fundType,managerId,trusteeBlank,initNetWorth,sizeOfThe,managerRate,hostingRate,provisionDays,setUpDate,fundDesc,accountId)values(#{fundId},#{fundName},#{fundType},#{managerId},#{trusteeBlank},#{initNetWorth},#{sizeOfThe},#{managerRate},#{hostingRate},#{provisionDays},#{setUpDate},#{fundDesc},#{accountId})
    </insert>

    <delete id="deleteFund" parameterType="list">
        delete from fund where fundId in
        <foreach collection="list" item="fundId" open="("
                 separator="," close=")">
            #{fundId}
        </foreach>
    </delete>

    <update id="updateFund" parameterType="com.yidu.businessParameter.pojo.Fund">
        update fund set fundName=#{fundName},fundType=#{fundType},managerId=#{managerId},
    trusteeBlank=#{trusteeBlank},initNetWorth=#{initNetWorth},sizeOfThe=#{sizeOfThe},
    managerRate=#{managerRate},hostingRate=#{hostingRate},provisionDays=#{provisionDays},
    setUpDate=#{setUpDate},fundDesc=#{fundDesc},accountId=#{accountId}
    where fundId=#{fundId}
    </update>





</mapper>