<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.permission.mapper.LogMapper">
    <insert id="insertLog" parameterType="com.yidu.permission.pojo.Log" statementType="CALLABLE">
        {call pkg_tables.sp_insertLog(#{time,mode=IN,jdbcType=VARCHAR},#{host,mode=IN,jdbcType=VARCHAR},#{method,mode=IN,jdbcType=VARCHAR},#{uri,mode=IN,jdbcType=VARCHAR},#{userName,mode=IN,jdbcType=VARCHAR},#{message,mode=IN,jdbcType=VARCHAR})}
    </insert>
    <select id="selectLog" resultType="com.yidu.permission.pojo.Log">
        select * from log
    </select>
</mapper>