<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.inventoryManage.mapper.SecuritiesClosedPayInventoryMapper">
    <insert id="insertSecuritiesClosedPayInventory" parameterType="com.yidu.inventoryManage.pojo.SecuritiesClosedPayInventoryPojo" >
        insert into securitiesClosedPayInventory(securitiesClosedPayInventoryId,dateTime,fundId,securitiesId,securitiesType,flag,totalPrice,securitiesClosedPayDesc,securityPeriodFlag)
        values (#{securitiesClosedPayInventoryId},#{dateTime},#{fundId},#{securitiesId},#{securitiesType},#{flag},#{totalPrice},#{securitiesClosedPayDesc,jdbcType=VARCHAR},#{securityPeriodFlag})
    </insert>
    <update id="updateSecuritiesClosedPayInventory" parameterType="com.yidu.inventoryManage.pojo.SecuritiesClosedPayInventoryPojo">
        update securitiesClosedPayInventory set dateTime=#{dateTime},securitiesId=#{securitiesId},securitiesType=#{securitiesType},flag=#{flag},totalPrice=#{totalPrice},securitiesClosedPayDesc=#{securitiesClosedPayDesc,jdbcType=VARCHAR},securityPeriodFlag=#{securityPeriodFlag} where securitiesClosedPayInventoryId=#{securitiesClosedPayInventoryId}
    </update>
    <delete id="deleteSecuritiesClosedPayInventory" parameterType="list">
        delete from securitiesClosedPayInventory where securitiesClosedPayInventoryId in
        <foreach collection="list" item="securitiesClosedPayInventoryId" open="("
                 separator="," close=")">
            #{securitiesClosedPayInventoryId}
        </foreach>
    </delete>

    <resultMap id="securitiesClosedPayInventoryMap" type="com.yidu.inventoryManage.pojo.SecuritiesClosedPayInventoryPojo">
        <result property="securitiesClosedPayInventoryId" column="securitiesClosedPayInventoryId" javaType="String"></result>
        <result property="fundId" column="fundId" javaType="String"></result>
        <result property="dateTime" column="dateTime" javaType="String"></result>
        <result property="securitiesId" column="securitiesId" javaType="String"></result>
        <result property="securitiesName" column="securitiesName" javaType="String"></result>
        <result property="securitiesType" column="securitiesType" javaType="Integer"></result>
        <result property="flag" column="flag" javaType="Integer"></result>
        <result property="totalPrice" column="totalPrice" javaType="Double"></result>
        <result property="securityPeriodFlag" column="securityPeriodFlag" javaType="Integer"></result>
        <result property="securitiesClosedPayDesc" column="securitiesClosedPayDesc" javaType="String"></result>
    </resultMap>
    <select id="selectSecuritiesClosedPayInventory" parameterType="java.util.Map" statementType="CALLABLE">
        {call pkg_tables.sp_select(#{p_tableName,mode=IN,jdbcType=VARCHAR},#{p_condition,mode=IN,jdbcType=VARCHAR},#{p_pageSize,mode=IN,jdbcType=INTEGER},#{p_page,mode=IN,jdbcType=INTEGER},#{p_count,mode=OUT,jdbcType=INTEGER},#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=securitiesClosedPayInventoryMap})}
    </select>

</mapper>