<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.businessParameter.mapper.StockMapper">
    <resultMap id="stockMap" type="com.yidu.businessParameter.pojo.StockPojo">
        <result property="stockId" column="stockId" javaType="String"></result>
        <result property="stockParentId" column="stockParentId" javaType="String"></result>
        <result property="stockName" column="stockName" javaType="String"></result>
        <result property="stockDesc" column="stockDesc" javaType="String"></result>
    </resultMap>
    <select id="selectStock" parameterType="java.util.Map" statementType="CALLABLE">
        {call pkg_tables.sp_select(#{p_tableName,mode=IN,jdbcType=VARCHAR},#{p_condition,mode=IN,jdbcType=VARCHAR},#{p_pageSize,mode=IN,jdbcType=INTEGER},#{p_page,mode=IN,jdbcType=INTEGER},#{p_count,mode=OUT,jdbcType=INTEGER},#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=stockMap})}
    </select>

    <update id="updateStock" parameterType="com.yidu.businessParameter.pojo.StockPojo">
                update stock set stockId=#{stockId},stockParentId=#{stockParentId},stockName=#{stockName},stockDesc=#{stockDesc} where stockId=#{stockId}
        </update>

    <delete id="deleteStock" parameterType="list">
        delete from stock where userId in
        <foreach collection="list" item="stockId" open="("
                 separator="," close=")">
            #{stockId}
        </foreach>
    </delete>

    <insert id="insertStock" parameterType="com.yidu.businessParameter.pojo.StockPojo">
      insert into stock values(#{stockId},#{stockParentId},#{stockName},#{stockDesc})
  </insert>
</mapper>