<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yidu.businessDispose.mapper.TaSettlementMapper">
    <resultMap id="TasettlementMap" type="com.yidu.businessDispose.pojo.TaSettlement">
        <result property="taTransactionId" column="taTransactionId" javaType="String"></result>
        <result property="dateTime" column="dateTime" javaType="String"></result>
        <result property="fundId" column="fundId" javaType="String"></result>
        <result property="fundNum" column="fundNum" javaType="Double"></result>
        <result property="accountId" column="accountId" javaType="String"></result>
        <result property="totalMoney" column="totalMoney" javaType="Double"></result>
        <result property="price" column="price" javaType="DOUBLE"></result>
        <result property="transactionType" column="transactionType" javaType="Integer"></result>
        <result property="transactionStatus" column="transactionStatus" javaType="Integer"></result>
    </resultMap>
    <select id="selectTaSettlement" parameterType="java.util.Map" statementType="CALLABLE">
        {call pkg_tables.sp_select(#{p_tableName,mode=IN,jdbcType=VARCHAR},#{p_condition,mode=IN,jdbcType=VARCHAR},#{p_pageSize,mode=IN,jdbcType=INTEGER},#{p_page,mode=IN,jdbcType=INTEGER},#{p_count,mode=OUT,jdbcType=INTEGER},#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=TasettlementMap})}
    </select>

    <update id="updateTaSettlement" parameterType="list">
        update TaTransaction set transactionStatus=1 where taTransactionId in
        <foreach collection="list" item="taTransactionId" open="("
                 separator="," close=")">
            #{taTransactionId}
        </foreach>
    </update>
    <update id="updateTaSettlementTwo" parameterType="list">
        update TaTransaction set transactionStatus=0 where taTransactionId in
        <foreach collection="list" item="taTransactionId" open="("
                 separator="," close=")">
            #{taTransactionId}
        </foreach>
    </update>

    <delete id="deleteTaSettlement" parameterType="java.util.List">
        delete from TaSettlement where dateTime in
        <foreach collection="list" item="dateTime" open="(" separator="," close=")">#{dateTime}</foreach>
    </delete>

    <insert id="insertTaSettlement" parameterType="com.yidu.businessDispose.pojo.TaSettlement">
        insert into taSettlement(dateTime,fundId,fundNum,accountId,totalMoney,price,transactionType,transactionStatus) value (#{dateTime},#{fundId},#{fundNum},#{accountId},#{totalMoney},#{price},#{transactionType},#{transactionStatus})
    </insert>
</mapper>
