<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidu.systemManage.mapper.UserInfoMapper">
    <resultMap id="userMap" type="com.yidu.systemManage.pojo.UserInfoPojo">
        <result property="userId" column="userId" javaType="String"></result>
        <result property="userName" column="userName" javaType="String"></result>
        <result property="userPwd" column="userPwd" javaType="String"></result>
        <result property="roleId" column="roleId" javaType="Integer"></result>
        <result property="status" column="status" javaType="Integer"></result>
        <result property="userInfoDesc" column="userInfoDesc" javaType="String"></result>
        <result property="roleName" column="roleName" javaType="String"></result>
        <association property="rolePojo" javaType="com.yidu.systemManage.pojo.RolePojo">
            <result column="roleName" property="roleName"></result>
        </association>
    </resultMap>
    <select id="selectUser" parameterType="java.util.Map" statementType="CALLABLE">
        {call pkg_tables.sp_select(#{p_tableName,mode=IN,jdbcType=VARCHAR},#{p_condition,mode=IN,jdbcType=VARCHAR},#{p_pageSize,mode=IN,jdbcType=INTEGER},#{p_page,mode=IN,jdbcType=INTEGER},#{p_count,mode=OUT,jdbcType=INTEGER},#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=userMap})}
    </select>

    <update id="updateUser" parameterType="com.yidu.systemManage.pojo.UserInfoPojo">
                update UserInfo set userName=#{userName},userPwd=#{userPwd},roleId=#{roleId},status=#{status},userInfoDesc=#{userInfoDesc} where userId=#{userId}
        </update>

    <delete id="deleteUser" parameterType="list">
        delete from userInfo where userId in
        <foreach collection="list" item="userId" open="("
                 separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <insert id="insertUser" parameterType="com.yidu.systemManage.pojo.UserInfoPojo">
      insert into userInfo values(#{userId},#{userName},#{userPwd},#{roleId},#{status},#{userInfoDesc})
  </insert>
</mapper>